/*piple3*/


@media screen and (min-width: 768px){
.carousel-indicators 
{
    bottom: 0px !important;
}
.testimonial-box {
    background: #363636;
    color: #fff;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
    padding-right: 0;
    padding-top: 40px;
}
}
@media (max-width: 1199px) {
    .aside-img-wrapper {
    padding: 62px 0;
}
.rating i{padding-right: 2px;
}

.address6 i{
    margin-right: 10px;
}
.contact_address1 i{
    margin-right: 5px;
}
.restaurent_details{
    left: 0;
}
.buisness_title{
    font-size: 25px;
}
.embed-responsive{
    height: 240px;
}
.history-box img{    
    float: none; width: 100%;
}
.history-box{
    padding-bottom: 50px;
}
.year13{
    font-size: 90px;
}
.get_the_theme{
    margin-top: 20px;
    margin-left: 0px;
}
.construction-sidebar{
    top: 55px;
}
.cont-overlay {
    top: 70px;
}
.course-tab button.btn-default {
    padding: 15px 26px 12px 26px;
    margin: 0px;
}
.banner-inner{
    padding: 25px;
}

.groom_text{
    top: 21%;
}
.google_play span strong{
    font-size: 10px;
}
#clockdiv > div{
    padding: 0px;
}
.team-social{
    padding-top: 10px;
}
.blog-img{
    float: none;
}
.blog-img img{
    width: 100%;
    padding-bottom: 15px;
}
    li.filter{
        margin: 0px;
    }
    .image-info-inner{
        top: 10px;
    }
    .btn-red {
    margin-left: 40px;
}

    .round1{
        font-size: 60px;
    }
    .our-service2 img{
        padding-top: 79px;
    }
    .border-image{
        bottom: -48px;
    }
     .footer h4{
            width: 58%;
        }
        .get_the_theme a{
            margin-left: 0px;
            width: 165px;
        }
        section.event-sponser img {
        width: 150px;
    height: 150px;
        }.buynow h1 span.buy-title{
            font-size: 55px;
        }
        .container.our_services img {
    padding-top: 100px;
}
.green{
    padding-left: 1px;
    padding-right: 0px;
}
.orange{
    padding-left: 1px;
    padding-right: 0px;
}
.tabby-tabs ul li a{
    margin-right: 4px;
}
.about_event img{
    padding-top: 80px;
}
.our_teamcaption
{
	padding:10px;
}
.service_bg h1{
    font-size: 37px !important;
}
.google_play{
    padding: 10px;
}
.apple{
     padding: 10px;
}
.apple span{
    font-size: 8px;
}
.sidebar-app .google_play, .sidebar-app .apple{
    margin-left: 0px;
    padding-left: 70px;
}
.aboutbox4 i {
    padding: 25px;
}
.aboutbox4 {
    margin-bottom: 90px;
}
.feature-title {
    padding-top: 0;
    padding-bottom: 0;
}
.our_teamcaption1{
    padding-top: 10px;
}
.rastaurant_left img {
    padding-top: 0px;
}
.newslatter{
    top: 0;
}
.right-text{
    margin: 35px;
}
.about_description{
    font-size: 24px;
}

.img-hover{
    margin: 0px;
    padding: 104px;
}
.subscribe h1{
    padding-top: 0px;
}
.expert_advise h2
{
	font-size:32px;
}
.gmail_icon i
{
	font-size:90px;
}
.inner-toolfree h2{
    font-size: 37px;
}
.toolfree-no{
    font-size: 70px;
}
.footwear_overlay{
    top: 33px;
}
.event_overlay{
    top: 90px;
}
.footwear_overlay h2 {
    font-size: 25px;
}
.testimonial-box p 
{
    font-size: 16px;
    font-family: 'latoregular';
    padding-bottom: 46px;
}
.recent_description p 
{
    padding-left: 10px;
    padding-right: 10px;
}
.recent_title 
{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 9px;
}
.border_center
{
	top:0px;
}
.recent_description
{
	padding-top:0px;
        top: 0;
}
.construntion-box {
    margin-bottom: 30px;
}
.border_center i.icon.ion-ios-search{
    top: 208px;
}
.border_center i.icon.ion-android-arrow-forward{
    top: 208px;
}
}

@media (max-width: 1024px) {
.banner-inner 
{
    background: #fff;
    border-radius: 50%;
    padding: 20px;
}
.wedding-banner 
{
    background: url(../images/piple15/banner1.jpg) left center no-repeat;
    text-align: center;
    margin: 0 auto;
}
.construction 
{
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.construction h1
{
	
}

.border_center i
{
	top:215px;
}
.gmail_icon i 
{
    color: #fff;
    font-size: 100px;
    text-align: left;
    float: left;
    padding-right: 15px;
}
.subscribe h1 
{

    padding-top: 35px;
}
span.sub 
{
    margin: 0 auto;
    padding: 0px;
    font-size: 30px;
    font-family: 'latoblack';
    color: #fff;
    text-transform: uppercase;
}
span.news
{ 
	font-size:14px;
}
.subscribe_form 
{
    margin-top: 0px;
    width: 100%;
	text-align:center;
}
button.subscribe-submit
{
    top: 10px; 
}
.subscribe h1
{

    padding-top: 0px;
}
.gmail_icon i
{
    color: #fff;
    font-size: 87px;
    text-align: left;
    float: left;
    padding-right: 8px;
}
.twitter3
{
	padding-left:0px;
}
.aside-video
{
	height:auto;
}
.aside-img-wrapper
{
	padding:100px 0;
}
#tabs ul li
{
	margin:10px;
}
.our_teamcaption
{
	padding:10px;
}

.subscribe 
{
    background: #0084b4;
    padding-bottom: 50px;
}
.expert_advise .right 
{
    padding-bottom: 0px;
    padding-top: 0px;
    position: absolute;
    right: 32px;
    bottom: 0px;
}
.leftexpert 
{
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe3 .btn-red
{
	margin:0px;
	padding-left: 10px; 
    padding-right: 10px; 
}

.buisness_title 
{
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'latobold';
    margin: 0 auto;
    padding: 0px;
}
.navbar-default .navbar-nav > li > a
{	
	margin-top:10px;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
.newslatter span
{
	font-size:24px;
}
.right-text
{
    position: absolute;
    margin: 36px;
}
.blog-img
{
	float:none;
}

}

@media (max-width: 991px) {
    .navbar-toggle{
        display: block;
    }
    .image-info-inner {
    top: 45px;
}
ul.dropdown-cart li .item h5{
    color: #fff;
}
ul.dropdown-menu.search_form{
    background-color: #fff !important;
    
}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #0084b4;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.dropdown-cart li .item{
    padding-bottom: 60px;
}
.accessories .title{
    font-size: 22px;
    padding: 51px 0px;
}
.register_cart select.form-control{
    width: 80%;
}
.buynow {
    text-align: center;
}
.contact4 .btn-blue{
    margin-bottom: 25px;
}
.call_us {
    padding-top: 30px;
}
.cont-overlay {
    top: 90px;
}
.certificate img{
    padding-bottom: 30px;
}
.construction-sidebar {
    top: 95px;
}
.embed-responsive {
    margin: 0px;
}
.year13 {
    font-size: 60px;
}
.embed-responsive {
    height: 280px;
}
h1.title18{
    font-size: 40px;
}
.cheif ol.carousel-indicators{
    left: 130px;
    bottom: 50px !important;
}
.rastaurant_left img {
    padding-bottom: 30px;
}
.about_event img{
    padding-top: 0px;
}
.since{
    margin-top: 240px;
}
.aboutbox4 i {
    padding: 15px;
}
section.new-product img{
    width: auto;
}
.resturent_description{
   padding: 15px 15px;
}

.medical-overlay h2{
    font-size: 42px;
}
.course-tab button.btn-default {
    padding: 15px 13px 12px 14px;
}
h3.shop{
    border: 15px solid #fff;
}
.groom_text {
    top: 15%;
}
.wedding-img img{
    width: auto !important;
}
.event_overlay {
    top: 115px;
}
.banner-overlay{
    padding-bottom: 10px;
}
    .btn-default{
        margin-bottom: 30px;
    }
    .title_3-2 h2{
    font-size: 35px;
}
    .contact_address {
        margin-top: 20px;
}
.contact_address2{
    margin-bottom: 20px;
}
.ms-anim-layers .btn-red {
    margin-left: 40px;
    font-size: 13px;
    line-height: 23px;
    padding-left: 5px;
    padding-right: 5px;
}
.ms-anim-layers .btn-blue{
    left: 0;
    font-size: 13px;
    line-height: 23px;
    padding-left: 5px;
    padding-right: 5px;
}

.inner-5 .breadcrumb {
    text-align: center;
}
.breadcamp_bg.text-left{
    text-align: center;
}
    .round1 {
    font-size: 80px;
    margin-bottom: 35px;
}
    .btn-red{
        margin-left: 60px;
    }
    .padding-bottom0 {
    padding-bottom: 100px;
}
.newslatter input.form-control{
    padding-right: 46px;
}
.discount{
    left:  0;
}
button.btn-yellow, a.btn-yellow{
    padding-left: 38px;
    padding-right: 38px;
}
.buynow h1{
    font-size:  30px;
}
.about_box {
    padding: 10px;
}
.box19-1 {
    margin-bottom: 30px;
}

.about_box i{
    font-size: 70px;
}
.fact_box span{
    display: none;
}
.title_3-2 h1{
    font-size: 27px;
}
.our_teamcaption {
    padding: 40px;
}
.fact_box11 .number{
    margin-bottom: 25px;
}
.fact_box{
    margin-bottom: 30px;
    text-align: center;
}
button.reserve{
    width: 100%;
}

.about-doctor .row.left img{
    padding-bottom: 30px;
}
h1.no-background{
    padding: 0px;
}
p.post{
    padding-bottom: 20px;
}
.border-image {
    bottom: 4px;
}
.toolfree-no {
    font-size: 50px;
}
.inner-toolfree h2 {
    font-size: 28px;
}
.our_teamcaption1 {
    padding-top: 50px;
}
.iconh4 i{
    margin-bottom: 25px;
}
.social-network {
    margin-bottom: 30px;
}
.about_event .box1{
    padding:8px;
    height: 130px;
}
.about_event .box2{
    padding:6px;
}
.about_event .box3{
    padding:7px;
}.about_event .box4{
    padding:8px;
}

.tabby-tabs ul li a {
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    margin-right: 0;
}
.footer ul {
   margin-bottom: 30px;
}
.product-box-hover{
    bottom: 102px;
    padding: 20px 0px;
    top: 10px;
}
.shopnow-btn{
    left: 25px;
    right: 25px;
}
.bag{
    padding-left: 10px;
}
.schdule ul li a
{  
    background: transparent;
    padding-left: 30px;
    padding-right: 30px;
    color: #363636;
    padding-top: 23px;
    padding-bottom: 23px;
    border-right: 1px solid #d8d8d8;
    margin-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    border-bottom: 0px;
}

.navbar-collapse.collapse{
       display: none !important;
}
.ms-anim-layers #clockdiv{
    left: 170px !important;
}
#clockdiv div > span{
    font-size: 50px;
}
.register h1{
    font-size: 20px;
}
.smalltext{
    font-size: 14px;
}
.schdule ul li a:hover
{  
    background: #0084b4;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;  
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
}
#tabs ul li
{
	float:left;
	max-width:26%;
}
.recent_post 
{
    color: #777;
    text-align: center;
	margin-bottom:25px;
}
.aside-video
{
	width:100%;
	position:relative;
}
.aside-img-wrapper
{
	padding-top:0px;
}

#header .navbar-default 
{
     padding-top: 0px;
}
.nav-second-main
{
	display:none;
}
.navbar-header 
{
	float: none;
}

.navbar-collapse 
{
	border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-nav 
{
	float: none!important;
	margin: 7.5px -15px;
        background-color: #fff;
}
.navbar-nav>li 
{
	float: none;
}
.navbar-nav>li>a 
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse.in 
{
	display: block!important; 
}
.testimonial, .team
{
    position: relative;
    overflow: hidden;
}
img.img-responsive 
{
    width: 100%;
    max-width: 100%;
}
.col-sm-1.one
{
    margin-left: -68px;
    opacity: 0.5;
    float: left;
}
.first
{
    width: 70%;
    float: left;
}
.col-sm-1.two 
{
    margin-right: 0px;
    opacity: 0.5;
    float: right;
    width: 12%;
}
.testimonial, .team
{
    position: relative;
    overflow: hidden;
}
.icons5 
{
    margin-top: 0px;
    margin-left: 30px;
    text-align: center;
    float: none;
    margin-bottom: 50px;
}
.expert_advise .right
{
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    right: 32px;
    bottom: 0px;
    text-align: center;
}
.leftexpert
{
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.expert_advise h2
{
    font-size: 32px;
    color: #fff;
}
.right-text 
{
    position: absolute;
    margin: 21px;
    font-size: 24px;
}
.newslatter span
{
    font-size: 19px;
}
.newslatter
{
    top:0;
}
.about_description
{   
   font-size: 25px;
    margin: 35px;
}
.title_11 {
    padding-top: 25px;
}
.recent_description p 
{
    padding-left: 0;
    padding-right: 0;
}
.border_center {
    top: 0px;
    margin-top: 0px;
}
.border_center i
{
    top: 215px;
}
.border_center i.icon.ion-ios-search{
    top: 220px;
}
.border_center i.icon.ion-android-arrow-forward{
    top: 220px;
}
.testimonial2 a.left.carousel-control
{
	top:43%;
}
.testimonial2 a.right.carousel-control
{
	top:43%;
}
h1.event-title
{
	font-size:24px;
}
.buynow h1 span.buy-title 
{
    font-size: 40px;
    font-family: 'LatoBoldItalic';
}
section.team2 .team_description 
{
    float: right;
    margin: 0 auto;
    margin-top: 53px;
    padding: 0px;
    text-align: center;
    margin-right: 0px;
    position: absolute;
    right: 0px;
}

button.subscribe-submit
{
	position: relative;
	    right: 0;
}
.btn-border
{
    margin-bottom: 30px;
    margin-left: 0px;
}
}

@media (max-width: 768px) {
.carousel-indicators
{
	bottom:0px !important;
}
.wedding-title h1 
{
    font-family: 'DancingScriptBold';
    color: #fe2077;
    font-size: 28px;
    background: none;
    border: none;
    padding-left: 0;
}
.event-box {
    border: dashed 1px #fe2077;
    padding-top: 0px;
    padding-bottom: 86px;
    padding-left: 0px;
}
.timeline-centered:before
{
    margin-left: 37px;
	height: 222px;
}
}
@media (max-width: 767px) {
    .map4 {
    margin-top: 40px;
}
.contruction-inner .overlay .breadcrumb{
    text-align: center;
}
.register_cart select.form-control {
    width: 100%;
}
.embed-responsive {
    margin-bottom: 30px;
}
.contruction-inner{
    text-align: center;
}

.inner17, .text-right{
    text-align: center;
}

.cheif ol.carousel-indicators {
    left: 350px;
    bottom: -15px !important;
}
.cont-overlay {
    top: 190px;
}
.who_we_are img{
    padding-bottom: 25px;
}
.about_description {
    font-size: 32px;
}
.medical-appointment{
    margin-bottom: 50px;
}
.breadcamp_bg{
    text-align: center;
}
.breadcamp_bg .text-right{
    text-align: center;
}
button.btn-yellow, a.btn-yellow{
    display: none;
}
.buynow .btn-yellow{
        display: block;
    margin: 20px auto;
    margin-bottom: 0px;
}
.banner-search .form-control{
    margin-bottom: 15px;
}
.breadcrumb{
    padding-top: 8px;
}
.event_overlay {
    top: 264px;
}
.groom_text {
    top: 32%;
}
.weeding-social {
    padding-bottom: 30px;
}
.banner-search h3 {
    padding-bottom: 15px;
}
.about-icon1{
    background-position: left;
    text-align: left;
}
.about-icon2{
    background-position: left;
    text-align: left;
}
h3.shop {
    margin-top: -30px !important;
}
.course-tab{
    text-align: center;
}
.service11 .btn-blue{
    margin-top: 20px;
}
.exculsive_overlay h1{
    font-size: 20px;
}
.exculsive_overlay h2{
    font-size: 14px;
}
.left-title8 {
    padding-top: 30px;
}
.inner_landing img{
    width: auto;
}
    .top-bar {
    text-align: center;
}
.iconh4 i{
    float: none;
    padding: 10px;
}
.get_the_theme{
    background-color: transparent;
}
.iconh4 h4 {
    padding-top: 30px;
}

.iconh4 p {
    padding-bottom: 20px;
}
.breadcamp_bg ul {
    float: none;
}
.breadcamp_bg ul {
    float: none;
}
.address5 {
    margin-bottom: 30px;
}
.container.contact_us.padding-l-0 .form-control{
    margin-bottom: 15px;
}
.top-bar10{
    text-align: center;
}
.left-box {
    margin-bottom: 30px;
}

.service_box8_hover{
    bottom: 0;
}
.left-box img {
    width: auto !important;
    margin-bottom: 15px;
}
.top-bar10 .text-right{
    text-align: center;
}
.subscribe-input{
    padding: 16px 20px;
}
h1.text-left{
   float: none;
    padding-left: 0;
}
.bg11 .breadcrumb{
    text-align: center;
}
.container.our_services img {
    padding-top: 0px;
}
.top-bar .text-right {
    text-align: center;
}
.history-box {
    margin-bottom: 40px;
}
.course img{
    padding-bottom: 30px;
}
.apple {
    margin-left: 20px !important;
}

.ms-anim-layers .btn-blue{
     display: none;
}
section.about img{
    margin-bottom: 40px;
}
.med-inner-overlay{
    top: 25px;
}

.border span:after{
        left: 15%;
    top: 0;
}.border:after{
        right: 10%;
    top: 0;
}
.contact_address1 i{
    float: none;
}
.construntion-box {
    margin-bottom: 60px;
}

.dashed-border{
    margin-top: 35px;
}
ul.dropdown-cart li .item-left img, ul.dropdown-cart li .item-left span.item-info{
    float: none;
}
ul.dropdown-cart li .item-left {
    float: none;
}
.med-about .form19 input.form-control {
    margin-left: 10px !important;
}

.form-group .btn.btn-white{
    padding: 6px 12px;
}
.year13{
    text-align: center;
    font-size: 80px;
}
.since{
    margin-top: 30px;
}
.rating {
    padding-bottom: 25px;
}

.ms-anim-layers #clockdiv {
    left: 170px !important;
}
.medical-overlay{
    margin-bottom: 30px;
}
.our_teamcaption1 {
    padding-top: 180px;
}
.medical-overlay h1{
    margin-bottom: 0px;
}
.smalltext{
    padding-left: 20px;
    padding-right: 20px;
}
.register .btn.btn-blue{
    margin-left: 0px;
}
.about_event img {
    padding-bottom: 30px;
}
.register .form-control{
    margin-bottom: 20px;
}
.border-image {
    bottom: 0px;
}
.construction-news {
    margin-bottom: 30px;
}
.btn-red {
    display: none;
}
.love-img{
    margin-bottom: 20px;
}
.love-story p{
     margin-bottom: 20px;
}
.event-box{
    margin-bottom: 30px;
}
.service11 a.btn-blue{
    display: inline-block;
    margin-top: 25px;
}
.fact_box span{
    background: transparent;
}
.product-box-hover {
    bottom: 85px;
    padding: 20px 0px;
    top: 50px;
}
.banner-bottom p {
    padding-bottom: 20px;
}
.title_2 h1 span.blue{
    font-size: 20px;
}
.title_2 .border_right{
    margin-top: 11px;
}
.title_2 h1{
     font-size: 15px;
}
.navbar-brand 
{
    float: left;
    height: auto;
    padding: 28px 15px;
    font-size: 18px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 0;
}
.navbar-brand > img
{
    margin-top: -10px;
    width: 100px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 0;
}

.header-absolute .navbar-default
{
    background-color: rgba(255, 255, 255, 0.0);
    border: 0px;
    margin: 0px;
    position: relative;
    padding-bottom: 0;
}
.index3
{
	/*background:rgba(255, 255, 255, 0.8);*/
	background:#fff;
}

.aside-video
{
	margin-bottom:50px;
}
.subscribe3 input.form-control {
    border: 1px solid #fff;
    margin-bottom: 18px;
    padding: 10px 3px 10px 10px;
    color: #fff;
    line-height: normal;
    height: auto;
    border-radius: 0px;
    margin-left: 0;
}
.left-timeline
{
	float: left;
}

.aside-video
{
	position:relative;
	width:auto;
}
.gmail_icon i
{
    color: #fff;
    font-size: 87px;
    text-align: center;
    float: none;
    padding-right: 8px;
}
.gmail_icon
{
	margin:0 auto;
	text-align:center;
	padding:0px;
}
.subscribe h1
{
	display:block;
	text-align:center;
}


img.img-responsive 
{
    width: 100%;
    max-width: 100%;
}

.recent_description:hover
{
    background: url(../images/post_bg.jpg) no-repeat;
    height: auto;
    padding: 10px 0px 0px 0px;
    width: auto;
    opacity: 1;
    color: #fff;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-right: 15px;
	background-position: center center;
}
.col-sm-1.one
{
    margin-left: -68px;
    opacity: 0.5;
    float: left;
}
.first
{
    width: 62%;
    float: left;
}
.form19 input.form-control, select.form-control{
    margin-left: 0px;
}
button.reserve {
    width: 100%;
    margin-left: 0;
}


.col-sm-1.two 
{
    margin-right: -15px;
    opacity: 0.5;
    float: right;
    width: 18%;
}
.testimonial, .team 
{
    position: relative;
    overflow: hidden;
}

.gmail_icon i
{ 
	float:none;
	text-align:center;
}

.our_teamcaption{
    padding: 50px;
}
.aside-video 
{
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
	background:transparent;
    background-repeat: no-repeat;
    object-fit: contain;
    float: none;
    width: 100%;
}
.carousel-control.left
{ 
	background:none;
}
.terms{
    text-align: center;
}

.banner-inner
{
    padding: 20px;
}
.form-group.col-md-12.col-sm-12.contact_bg2 
{
	float: none;
}


.contact_bg2
{ 
	float:none;
}
.left 
{
    float: none;
    top: 15px;
    margin-bottom: 20px;
}
.about_img2
{
	position:relative;
	left:0;
}
.img-about
{
	position:relative;
	height:auto;
}
.right-text 
{
    position: absolute;
    font-size: 63px;
    margin: 50px;
}
.blog-box-right 
{
    margin-left: 0;
}
.newslatter
{
    top: 50px;
    left: 0;
    right: 0;
}
.input-group 
{
    position: relative;
    display: block;
    border-collapse: separate;
}

.fact_title h1
{
	margin:0 auto;
}
.border_center
{
	margin-top:58px;
}
.recent_description:hover
{
	margin-right:0px;
}

h1.love_title , h1.wedding , h1.titleevent
{
	font-size: 45px;
    padding-left: 0px;
}
.wedding-title h1 
{
    font-family: 'DancingScriptBold';
    color: #fe2077;
    font-size: 28px;
    background: none;
    border: none;
    padding-left: 0;
}
h1
{
	font-size:24px;
}
.medical-overlay h2
{
	font-size:40px;
}
.tolfree
{
	text-align:center;
}
.toolfree-no
{
	font-size:32px;
	text-align:center;
}
.container.med-about
{
	padding:0px;
}
.border_center i.icon.ion-android-arrow-forward {
    top: 262px;
}
.border_center i.icon.ion-ios-search {
    top: 262px;
}
.counter1{
    margin-bottom: 25px;
}
.counter3{
    margin-bottom: 25px;
}
.counter2{
    margin-bottom: 25px;
}
.counter4{
    margin-bottom: 25px;
}
.terms .text-right{
    text-align: center;
}
} 

@media (max-width: 600px) {
.schdule ul li a
{  
	background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: #363636;
    padding-top: 23px;
    padding-bottom: 23px;
    border-right: 1px solid #d8d8d8;
    margin-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    border-bottom: 0px;
}

.schdule ul li a:hover
{  
	    background: #0084b4;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
	}
}
@media (max-width: 568px) {
.schdule ul li a
{  
	background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: #363636;
    padding-top: 23px;
    padding-bottom: 23px;
    border-right: 1px solid #d8d8d8;
    margin-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    border-bottom: 0px;
}

.schdule ul li a:hover
{  
	    background: #0084b4;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
	}
	
.col-xs-6
{
	width:100%;
	max-width:100%;
}
.our_teamcaption 
{
	padding-top:150px;
}
.twitter3 p
{ font-size:13px;}
.red-btn
{
	width: 37%;
}
.box10-inner h1
{
    color: #fff;
    padding-left: 0px;
    text-transform: capitalize;
    border: 0px;
    padding-top: 25px;
    line-height: 26px;
    background: url(../images/white-border.png) no-repeat left bottom;
    margin-bottom: 10px;
    font-size: 23px;
}
.right-text {
    position: absolute;
    font-size: 40px;
    margin: 50px;
}

.about_description {
    font-size: 28px;
    margin: 40px;
}
.recent_description:hover
{
    padding-top: 58px;
}

}
@media (max-width: 480px) {
    h1 {
    font-size: 19px;
}
.cheif ol.carousel-indicators {
    left: 150px;
    bottom: -15px !important;
}
.breadcamp_bg2 a{font-size: 40px;
}
.location{
    float: none;
}
.about_description {
    font-size: 24px;
}
.top-bar span{
    padding-right: 3px;
}
.groom_text {
    top: 18%;
}
.title_3-2 h2 {
    font-size: 30px;
}
.event_overlay {
    top: 69px;
}
.exculsive_overlay{
    left: 0;
}
.left-title8 h1 span.thin{
    font-size: 32px;
}
.inner-8 .breadcamp_bg h2{
    font-size: 35px;
}
.btn-black{
    padding: 10px 15px 10px 15px;
}
.left-title8 h1{
    font-size: 32px;
}
    .breadcamp_bg{
        text-align: center;
    }
    .btn-call{
        display: inline-block;
    }
    .breadcamp_bg ul {
    float: none;
}
.team-social3 i{
    margin: 3px;
}

.service_content1 p{
    line-height: 26px;
}
.breadcamp_bg ul li{
    display: inline-block;
    float: none;
}
.border-image {
    bottom: 0px;
}
.title_11 h1{
    font-size: 27px;
}
.service_box8 .title8{
    font-size: 15px;
    padding-bottom: 15px;
}
section.inner-6  h2{
    font-size: 44px;
}
h1.title18{
    font-size: 38px;
}
h1.text-left{
    font-size: 26px;
}
.border_center i.icon.ion-android-arrow-forward{
    top: 221px;
}
button.accordion{
    font-size: 12px;
}
.border span:after{
        left: 4%;
    top: 0;
}.border:after{
        right: 3%;
    top: 0;
}
.inner_title h1{
    font-size: 35px;
    padding-left: 0;
    padding-top: 10px;
}
.our_teamcaption {
    padding: 22px;
}
.border_center i.icon.ion-ios-search{
     top: 221px;
}
.our_teamcaption1 {
    padding-top: 30px;
}
.inner-5 .breadcrumb{
    text-align: center;
}
.ms-anim-layers #clockdiv{
    left: 30px !important;
    top: 100px !important;
}
#clockdiv > div{
    padding: 0px;
}
.breadcamp_bg a{
    font-size: 35px;    
}
.smalltext {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    font-size: 12px;
}
#clockdiv div > span{
    font-size: 40px;
}
.our_teamcaption{
    padding-top: 30px;
}
.fact_title h1 {
    margin: 0 auto;
    padding-left: 0px;
}
.border_center {
    margin-top: 32px;
}

}
@media (max-width: 414px) {
.right-text {
    position: absolute;
    font-size: 28px;
    margin: 29px;
}
.title_3 h1 {
    background: none;
    border: none;
    font-family: 'latoblack';
    text-transform: capitalize;
	padding-left:0px;
}
.schdule ul li a
{
	font-size:18px;
}
}
@media (max-width: 375px) {
.about_description {
    padding: 7px 0;
}
.recent_description:hover
{
    padding-top: 58px;
}

.schdule ul li a
{
	font-size:16px;
}

}

@media (max-width: 320px) {
.schdule ul li a
{
	font-size:12px;
}
.border_center {
    margin-top: 0;
}
.border_center i.icon.ion-android-arrow-forward {
    top: 253px;
}
.border_center i.icon.ion-ios-search {
    top: 253px;
}
}