@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/**************/
/* PTJS-THEME */
/**************/
@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(77, 188, 197, 0.75);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(77, 188, 197, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(77, 188, 197, 0);
  }
}
.ptjs-theme.classic {
  /* Step marker action */
  /* Step container */
  /*********************/
  /******* ARROW *******/
  /*********************/
  /* step-arrow */
  /* step-arrow for location top */
  /* step-arrow for location bottom */
  /* step-arrow for location left */
  /* step-arrow for location right */
}
.ptjs-theme.classic .step-marker-action {
  animation: boxShadowPulse 1.5s infinite;
  border: 5px solid rgba(77, 188, 197, 0.75);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 5px;
  width: 5px;
}
.ptjs-theme.classic .step-container {
  background-color: #fff;
  box-shadow: 0px 0px 2px #999;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}
.ptjs-theme.classic .step-container .step-button-close {
  background-color: #4a90e2;
  border-radius: 0 0 5px 5px;
  color: #fff;
  cursor: pointer;
  display: none;
  line-height: 20px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: -1px;
  text-align: center;
  transition: all 0.1s linear;
  width: 24px;
}
.ptjs-theme.classic .step-container .step-button-close:hover {
  background-color: #31639c;
}
.ptjs-theme.classic .step-container .step-header {
  padding: 30px 20px 0 20px;
}
.ptjs-theme.classic .step-container .step-header .title {
  color: #4a90e2;
  font-size: 18px;
  font-weight: bold;
}
.ptjs-theme.classic .step-container .step-body {
  padding: 20px;
}
.ptjs-theme.classic .step-container .step-footer {
  overflow: hidden;
  padding: 10px;
}
.ptjs-theme.classic .step-container .step-footer .step-pagination {
  color: #4a90e2;
  display: none;
  font-weight: bold;
  float: left;
  height: 28px;
  line-height: 26px;
}
.ptjs-theme.classic .step-container .step-footer .step-buttons {
  float: right;
}
.ptjs-theme.classic .step-container .step-footer .step-buttons span {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  line-height: 26px;
  padding: 0 10px;
  transition: all 0.1s linear;
  vertical-align: middle;
}
.ptjs-theme.classic .step-container .step-footer .step-buttons span:hover {
  background-color: #31639c;
}
.ptjs-theme.classic .step-container.ptjs-display-marker .step-footer {
  display: none !important;
}
.ptjs-theme.classic.step-arrow-top:after,
.ptjs-theme.classic.step-arrow-right:after,
.ptjs-theme.classic.step-arrow-bottom:after,
.ptjs-theme.classic.step-arrow-left:after {
  border-style: solid;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}
.ptjs-theme.classic.step-arrow-top {
  padding-bottom: 14px;
}
.ptjs-theme.classic.step-arrow-top:after {
  border-color: #fff transparent transparent transparent;
  border-width: 14px 10px 0 10px;
  bottom: 0;
}
.ptjs-theme.classic.step-arrow-tl:after,
.ptjs-theme.classic.step-arrow-tc-r:after,
.ptjs-theme.classic.step-arrow-ct-r:after {
  border-width: 14px 10px 0 0;
  left: 0;
}
.ptjs-theme.classic.step-arrow-tc:after,
.ptjs-theme.classic.step-arrow-ct-r-c:after,
.ptjs-theme.classic.step-arrow-ct-l-c:after {
  left: 50%;
  margin-left: -10px;
}
.ptjs-theme.classic.step-arrow-tr:after,
.ptjs-theme.classic.step-arrow-tc-l:after,
.ptjs-theme.classic.step-arrow-ct-l:after {
  border-width: 14px 0 0 10px;
  right: 0;
}
.ptjs-theme.classic.step-arrow-bottom {
  padding-top: 14px;
}
.ptjs-theme.classic.step-arrow-bottom:after {
  border-color: transparent transparent #fff transparent;
  border-width: 0 10px 14px 10px;
  top: 0;
}
.ptjs-theme.classic.step-arrow-bl:after,
.ptjs-theme.classic.step-arrow-bc-r:after,
.ptjs-theme.classic.step-arrow-cb-r:after {
  border-width: 0 10px 14px 0;
  left: 0;
}
.ptjs-theme.classic.step-arrow-bc:after,
.ptjs-theme.classic.step-arrow-cb-r-c:after,
.ptjs-theme.classic.step-arrow-cb-l-c:after {
  left: 50%;
  margin-left: -10px;
}
.ptjs-theme.classic.step-arrow-br:after,
.ptjs-theme.classic.step-arrow-bc-l:after,
.ptjs-theme.classic.step-arrow-cb-l:after {
  border-width: 0 0 14px 10px;
  right: 0;
}
.ptjs-theme.classic.step-arrow-left,
.ptjs-theme.classic.step-arrow-ct-l-m,
.ptjs-theme.classic.step-arrow-cb-l-m {
  padding: 0;
  padding-right: 14px;
}
.ptjs-theme.classic.step-arrow-left:after,
.ptjs-theme.classic.step-arrow-ct-l-m:after,
.ptjs-theme.classic.step-arrow-cb-l-m:after {
  border-color: transparent transparent transparent #fff;
  border-width: 10px 0 10px 14px;
  right: 0;
}
.ptjs-theme.classic.step-arrow-lt:after,
.ptjs-theme.classic.step-arrow-lm-b:after {
  border-width: 0 0 10px 14px;
  top: 0;
}
.ptjs-theme.classic.step-arrow-lm:after,
.ptjs-theme.classic.step-arrow-ct-l-m:after,
.ptjs-theme.classic.step-arrow-cb-l-m:after {
  margin-top: -10px;
  top: 50%;
}
.ptjs-theme.classic.step-arrow-lb:after,
.ptjs-theme.classic.step-arrow-lm-t:after {
  border-color: transparent transparent transparent #fff;
  border-width: 10px 0 0 14px;
  bottom: 0;
}
.ptjs-theme.classic.step-arrow-right,
.ptjs-theme.classic.step-arrow-ct-r-m,
.ptjs-theme.classic.step-arrow-cb-r-m {
  padding: 0;
  padding-left: 14px;
}
.ptjs-theme.classic.step-arrow-right:after,
.ptjs-theme.classic.step-arrow-ct-r-m:after,
.ptjs-theme.classic.step-arrow-cb-r-m:after {
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 10px 0;
  left: 0;
}
.ptjs-theme.classic.step-arrow-rt:after,
.ptjs-theme.classic.step-arrow-rm-b:after {
  border-width: 0 14px 10px 0;
  top: 0;
}
.ptjs-theme.classic.step-arrow-rm:after,
.ptjs-theme.classic.step-arrow-ct-r-m:after,
.ptjs-theme.classic.step-arrow-cb-r-m:after {
  margin-top: -10px;
  top: 50%;
}
.ptjs-theme.classic.step-arrow-rb:after,
.ptjs-theme.classic.step-arrow-rm-t:after {
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 0 0;
  bottom: 0;
}
