/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    button.accordion1  {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

   button.accordion1  {
        border-radius: 0;
        color: #212121;
        background-color: #ebebeb;
        border-color: #c3c3c3;
	border-radius: 0;
	border:1px solid #c3c3c3;
	width:100%;
	text-align:left;
        padding: 13px;
        font-size: 16px;
        font-weight: 600;
   }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .show {
        border-top: 0px;
  
	
	    opacity: 1;
    max-height: 500px;
    padding-top: 30px;
    border: 1px solid #c3c3c3;
    border-radius: 0;  }

/* ----- v CAN BE DELETED v ----- */
