@import url('https://fonts.googleapis.com/css?family=Niconne|Raleway');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.woff2') format('woff2'),
         url('fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
	font-family: 'Lato-Light';
	src: url('Lato-Light.eot') format('embedded-opentype'),
  	url('../fonts/Lato-Light.woff') format('woff');
  	font-weight: normal;
  font-style: normal;
  
 }
 @font-face {
    font-family: 'LatoBoldItalic';
    src: url('../fonts/LatoBoldItalic.eot');
    src: url('../fonts/LatoBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/LatoBoldItalic.woff2') format('woff2'),
         url('../fonts/LatoBoldItalic.woff') format('woff'),
         url('../fonts/LatoBoldItalic.ttf') format('truetype'),
         url('../fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}

 @font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/LatoHairline.eot');
    src: url('../fonts/LatoHairline.eot') format('embedded-opentype'),
         url('../fonts/LatoHairline.woff2') format('woff2'),
         url('../fonts/LatoHairline.woff') format('woff'),
         url('../fonts/LatoHairline.ttf') format('truetype'),
         url('../fonts/LatoHairline.svg#LatoHairline') format('svg');
}
@font-face {
    font-family: 'DancingScriptBold';
    src: url('../fonts/DancingScriptBold.eot');
    src: url('../fonts/DancingScriptBold.eot') format('embedded-opentype'),
         url('../fonts/DancingScriptBold.woff2') format('woff2'),
         url('../fonts/DancingScriptBold.woff') format('woff'),
         url('../fonts/DancingScriptBold.ttf') format('truetype'),
         url('../fonts/DancingScriptBold.svg#DancingScriptBold') format('svg');
}

body 
{
    font-weight: 400;
    color: #656565;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Lato', sans-serif;
}
.overflo-h 
{
    overflow: hidden;
}
.header-v4 
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
}
.padding_left{
    padding-left: 0px !important;
}
/****************** Banner********************/
.text-title
{
	color: #fff;	
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 70px;
	font-weight:800;
}
.text-subtitle
{
	color: #fff;	
	font-size: 100px;
	letter-spacing: 0px;
	line-height: 70px;
	font-weight:700;
}
.text7
{
	color:#fff;
	font-size:16px;
	padding:0px;
	margin:0 auto;
	font-weight:200;
}
.btn.yellow
{
    background: #fff200;
    border: 0px solid #0d1718;
    border-radius: 0;
    padding: 15px 25px;
	color:#0d1718;
	text-transform:uppercase;
	font-weight:700;
	font-size:14px;
	letter-spacing:2px;
}

/******************************** Section Collection ****************************************/

.collection
{
	padding:60px 0px;
}.collection-box
{
	position:relative;
}
.overlay
{
	background: #fff;
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    padding-left: 10px;
	padding:30px 0
}

.overlay-women
{
	background: #fff;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding: 30px 0;
}

h3
{
	font-size:24px;
	font-weight:400;
	text-transform:capitalize;
	color:#202020;
	padding-left:15px;
}

a.shopnow
{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #00adef;
    border-bottom: 1px solid #00adef;
    padding: 0;
    margin: 0 auto;
	margin-left:15px;
}

.black-border
{ 
	border-top: 1px solid #000;
    float: left;
    width: 100%;
    max-width: 30%;
}

.overlay1
{
    background: rgba(255, 255, 255, .7);
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
    padding-left: 10px;
    padding: 39px 0;
    margin: 140px 40px;
    text-align: center;
    padding-bottom: 55px;
}


.overlay1 h2 
{
    color: #202020;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.overlay1 h1
{
    color: #202020;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
	margin-bottom:30px;
}
a.black {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-top: 0px;
}

/******************************** New Arrival *********************/
.products
{
	padding:60px 0px;
}

.product-desc
{

    text-align: center;
    margin-bottom: 30px
}
.product-desc h3
{
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
}
.price-list
{
	margin:0 auto;
	padding:10px 0px;
}
span.blue {
    color: #00adef;
    font-weight: 600;
    font-size: 17px;
    text-align: right;
}
span.black {
    color: #565656;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}
ul.unstyled_shop
{
    margin: 0 auto;
    padding: 25px 0 0;
}

ul.unstyled_shop li
{	
	list-style:none;
	margin:0 auto;
	padding:10px;
	display: inline;
}
ul.unstyled_shop li a
{
	color:#565656;
}
ul.unstyled li a:hover
{
	color:#00adef;
}
ul.unstyled_shop li a i
{	
	margin:0 auto;
	padding:0px;
	font-size:16px;
}

.space100
{
	height:100px; 
	width:100%;
}
.rating 
{
	position:absolute;
	top:10px;
}
.buttons 
{
	position:absolute;
	top:10px;
	right: 15px;
}
ul.stars
{
	margin:0 auto;
	padding:0px;
}
ul.stars li
{	
	list-style:none;
	margin:0 auto;
	display: inline;
}
button.btn.blue
{
    background: #00adef;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    padding: 0px 10px;
}
button.btn.red
{
    background: #0084b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    padding: 0px 10px;
}
/********************FILTER********************************/
.product-desc h3.title2
{
    font-size: 16px;
    font-weight: 600;
}

.product-desc span.blue1 {
    color: #00adef;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}
.product-desc span.black1 {
    color: #565656;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
	text-decoration:line-through;
}


/******************************** New Arrival *********************/
.new-arrival
{
	background: url(../images/new-arr-bg.jpg) no-repeat;
	padding:180px 0;
	margin:0 auto;
	text-align:center;
	color:#fff;
}
.new-arrival h1
{
	font-size:70px;
	text-transform:uppercase;
}
.new-arrival h2
{
	font-size:90px;
	text-transform:uppercase;
	font-weight:700;
}
button.btn.white
{
    background: #fff;
    color: #202020;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    padding: 15px 25px;
    font-weight: 600;
}


/***********************ACCESSORIES CSS***********************************/
.accessories
{
    padding-top: 0;
    padding-bottom: 80px;
}
.acc-overlay
{ 
   background: rgba(77, 77, 77, .7);
    position: absolute;
    margin: 10px;
    top: 0;
    right: 15px;
    left: 15px;
    bottom: 0;
}
.title
{
	color:#fff;
	font-size:30px;
	text-align:center;
	margin:0 auto;
	padding:94px 0;
	font-weight:600;
}
#portfolio {  
    margin: 3rem 0;
    -webkit-column-count:2; 
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
 
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.space70 {
    height: 70px;
    width: 100%;
}


.scale-anm {
  transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}
ul.menu-filter-list
{
	margin-bottom:40px;
}
ul.menu-filter-list li  {
    color: #202020;
    font-weight: 600;
    font-size: 16px;
}

ul.menu-filter-list li.is-checked
{
	font-size: 16px;
    border: 0;
    background: transparent;
    font-weight: 600;
    color: #00adef;
    border-bottom: 2px solid #00adef;
    border-radius: 0;
    box-shadow: 0px 0px;
}
/***********************Logo Slider CSS***********************************/
.logo
{
	padding:40px 0px;
}

/***********************Deals CSS***********************************/
.today-deal
{
	background: url(../images/img-1.jpg) no-repeat;
	    padding: 45px 20px;
}
.nopadding
{
	padding:0px;
}
h3.title-right
{
	font-size:40px;
	font-weight:700;
	margin:0 auto;
	padding:0px;
}
#clockdiv > div {
    padding: 8px 15px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    border-bottom: 5px solid #c6c5c4;
	margin-right:15px;
}
#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #ffffff;
    display: inline-block;
    color: #000;
    font-weight: 700;
	font-size: 24px;
}
.smalltext {
    padding-top: 0px;
    font-size: 16px;
    color: #000;
	text-transform:uppercase;
}

.upto
{    background: url(../images/img-2.jpg) no-repeat;
    padding: 100px 0;
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 480px;
}
.overlay2
{
	    background: rgba(255, 255, 255, .7);
    position: absolute;
    bottom: 100px;
    left: 15px;
    right: 15px;
    padding-left: 10px;
    padding: 0;
    margin: 0;
    top: 100px;
    text-align: center;
}

.overlay2 h1
{
    color: #202020;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
	margin-bottom:50px;
}
a.black {
    background: #0084b4;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 20px;
    padding-bottom: 20px;
}		
		
/****************************FOOTER****************/	
.services
{
	background:#ebebeb;
	padding:50px 0px;
	margin:0 auto;
	color:#202020;
	
}
.free-shippping 
{
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
}
.free-shippping
{
	font-size:30px;
}

.free-shippoing-right h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}	


/****************************FOOTER****************/
.space40
{
	height:40px;
	width:100%;
}
.space50
{
	height:50px;
	width:100%;
}
.blog
{
    padding: 60px 0px;
}
h1.blog-title
{
    font-weight: 600;
    color: #202020;
    font-size: 30px;
    margin: 0 auto;
    padding: 0px;
    border: none;
    background: transparent;
}
h3.blog-title
{
	font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 20px 0;
	font-weight:600;
}

.blog-desc p
{
	font-size:16px;
}
a.readmore {
    font-size: 16px;
    text-decoration: underline;
}
/****************************FOOTER****************/
.clearfix
{
	clear:both;}


/****************************Product Detail page****************/
.cart-inner
{
	background:#f4f4f4;

}
li.cart-item {
    display: inline-block;
}
.breadcrumb_cart {
    padding: 15px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
li.cart-item a
{
	color:#565656;
}
li.cart-item.active a
{
	color:#202020;
	font-weight:600;
}

.cart-item >li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
	display:none;
}

/*****************************Single Product**********************************/
section.single-product {
    padding: 60px 0;
}
.single-product .input-group{
    padding: 15px 0px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
ul.hide-bullets {
    margin: 0 auto;
    padding: 0px;
    margin-left: 15px;
}
ul.hide-bullets li {
    margin: 3px;
    list-style: none;
}
ul.hide-bullets li {
      list-style: none;
    float: left;
    width: 100%;
    max-width: 21%;
    padding: 0;
    margin: 0px 50px;
    margin-right: 0;
    /* margin-left: 45px; */
}
.thumbnail-overlay
{
    background: #000;
    position: absolute;
    top: 3px;
    left: 83px;
    /* right: 0; */
    padding: 50px;
    bottom: 3px;
	opacity:0;
}

ul.hide-bullets li a .thumbnail-overlay:hover
{
	opacity:1;}
ul.hide-bullets li a.thumbnail {
	position:relative;
    margin: 3px;
}
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

h3.single-title
{
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 black;
    padding: 0;
    margin-top: 20px;
    font-family: 'latoblack';
}

span.blue2 {
    color: #0084b4;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    padding-right: 30px;
}
span.black2 {
    color: #565656;
    font-weight: 600;
    font-size: 30px;
    text-decoration: line-through;
    text-align: left;
}


button.btn.btn-default.btn-number {
    border-radius: 0;
    padding: 15px;
    background: transparent;
	border: 1px solid #ebebeb;
}
input.form-control.input-number
{
    /* padding: 15px 0; */
    padding-top: 26px;
    border-right: 0;
    text-align: center;
    padding-bottom: 24px;
	border: 1px solid #ebebeb;
}
select.selectpicker {
    border-radius: 0;
    padding: 16px 10px;
	border: 1px solid #ebebeb;
}


span.first
{
	color:#565656;
	font-size:14px;
	margin:0 auto;
	padding:0px;
}

a.btn.blue {
    background: #0084b4;
    padding: 15px 20px;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
	margin-left:10px;
}

.single-reviews button.btn_black2{
     margin-left: 0px;
}
.nav-tabs {
    border-bottom: 0;
}

a#home-tab {
    background: #00adef;
    color: #fff;
   padding: 15px 20px;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
	margin-left:0px;
}
div#narrow-browser-alert {
    margin: 0;
    padding: 0;
}
.bs-example.bs-example-tabs ul#myTab
{
    margin: 0 auto;
    padding: 0px;
}

ul#myTab li {
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 10px;
}
ul#myTab li a
{
  background: #fff;
    color: #0084b4;
   padding: 15px 20px;
    border-radius: 0;
    font-size: 16px;
	margin-right: 10px;
	border:2px solid #0084b4;
}
ul#myTab li.active a
{
  background: #0084b4;
    color: #fff;
   padding: 15px 20px;
    border-radius: 0;
    font-size: 16px;
	margin-right:10px;
	border:2px solid #0084b4;
	}
ul#myTab li a:hover
{
  background: #0084b4;
    color: #fff;
   padding: 15px 20px;
    border-radius: 0;
    font-size: 16px;
	margin-right:10px;
	border:2px solid #0084b4;
}
.single-collection
{
margin: 0;
    padding: 0;
}
.collection_img
{
	background: url(../images/collection.jpg) no-repeat;
	padding:50px;
}
.collection_img h2
{
    font-size: 20px;
    margin: 0 auto;
    color: #202020;
	font-weight:600;
}
.collection_img h1
{ 
    font-size: 40px;
    margin: 0 auto;
    display: block;
    color: #202020;
    border: none;
    font-weight: 600;
    margin-bottom: 20px;
    background: transparent;
    margin-top: 10px;
    padding-left: 0;
}
.nopadding.rev1 {
    padding-left: 0px;
}
.products-details 
{
    margin-top: 50px;
}
h3.single-title1 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head, .smk_accordion.acc_with_icon .accordion_in .acc_content {
    padding-left: 20px;
    padding-right: 20px;
}
/********************************Review************************/
.alert-info {
    color: #202020;
    background-color: transparent;
    border-color: transparent;
}
.reviw-form input
{
	border:1px solid #000;
	padding:10px;
}
label.name2 
{
    border: none;
    padding: 0;
    margin: 0 auto;
}
.tab-content>.active {
    display: block;
    text-align: left;
    padding: 10px 0;
}

.review-form input.form-control
{
    padding: 10px 15px;
    border-radius: 0;
    height: auto;
    margin-bottom: 15px;
    box-shadow: none;
    outline: none;
    border-color: #ccc;
	}
.review-form	textarea.form-control
{
   	padding: 10px 15px;
    border-radius: 0;
     border-color: #ccc;
	height:auto;
	}
	
/********************** REGISTER*****************************/
.register_track{
    background: transparent;
}
.register_track h1{
    background: transparent;
    border: none;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
}
.register_track p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.register_cart
{
	padding:60px 0px;
}
.register-form h3
{
	padding:0px;
}
.register-form label {
display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    border: none;
    font-family: 'Lato', sans-serif;
}
.register-form .input-lg {
    height: auto;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 0;
    background: transparent;
    margin-bottom: 15px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}
.register-form button.btn.black{
    margin-left: 0px;
}
button.btn_black
{
    background: #0084b4;
    color: #fff;
    margin-left: 0;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0;
    font-size: 15px;
    padding: 8px 25px;
    padding-bottom: 10px;
}
button.btn_black2
{
    background: #0084b4;
    color: #fff;
    margin-left:15px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0;
    font-size: 15px;
    padding: 8px 25px;
    padding-bottom: 10px;
}
.register_cart select.form-control{
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.register-form .input-lg1
{
    padding: 3px 15px;
    margin-right: 10px;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
}
.register_cart .table a {
    color: #202020;
    font-size: 15px;
    font-weight: 600;
}
.register_cart  .text-primary {
    color: #202020;
    line-height: 35px;
    font-weight: 600;
    font-size: 14px;
}
form.account-create {
    padding: 30px 0px;
}
.register_cart .table{
   margin: 0px;
}
ul.cards
{
	margin:0 auto;
	padding:0px;
	margin:20px 0px;
}
ul.cards li
{
	margin:0 auto;
	padding:0px;
	display:inline;
	list-style:none;
}
ul.cards li img
{
    width: 100%;
    max-width: 10%;
    margin-right: 10px;
}
tr
{
border-bottom:0;}


ul.about
{
	margin:0 auto;
	padding:0px;
}
ul.about li
{
	margin:0 auto;
	padding:0px;
	list-style:none;
	display:block;
	line-height:31px;
}


/**************************** Contact Section*******************/
.contact-box
{
	background:#f5f5f5;
	padding:30px 10px;
	color:#202020;
	margin:0 auto;
	font-size:16px;
	text-align:center;
}

.contact-box i
{
	font-size:40px;
	margin:0 auto;
	text-align:center;
	color:#202020;
}
.space20
{
	height:20px;
	width:100%;
}
.space30
{
	height:30px;
	width:100%;
}


/**************************** Contact Section*******************/
span.date
{
	font-size:12px;
	margin-right:10px;
}

.search-form
{    
	border: 1px solid rgba(204, 204, 204, .6);
}
.search-form input.form-control
{
	padding:10px;
	margin:0 auto;
	height:auto;
	position:relative;
	border-radius:0;
	border:0;
}
button.search-btn 
{
    position: absolute;
  	top: 0px;
    right: 15px;
    background: transparent;
    border: 0;
    border: 1px solid rgba(204, 204, 204, .6);
    padding: 9px 12px;
    color:rgba(204, 204, 204, .6)
}
.sidebar-widget
{
	border: 0px solid rgba(204, 204, 204, .6);
}
.sidebar-widget h4 
{
    text-transform: uppercase;
    background: #00adef;
    margin: 0;
    padding: 10px;
	color:#fff;
}
.sidebar-widget ul
{
	    margin-left: 0;
    border: 1px solid rgba(204, 204, 204, .6);
    padding-left: 10px;
}
.sidebar-widget ul li
{
	line-height:35px;
}
ul.recent-post li a img
{
	float:left;
	margin-right:10px;
	margin-bottom:30px;
}
.post-content h5
{
	margin:0 auto;
	padding:0px;
}
.post-content h5 a
{    
	margin: 0 auto;
    font-size: 14px;
    color: #202020;
}
.sidebar-widget a
{
	color:#202020;
}
.sidebar-widget a:hover
{
	color:#337ab7;
	text-decoration:none;
}

.right-side
{
	border:0px solid #CCCCCC;
}

ul.recent-post
{
	padding-top:20px;
}
.single-desc p {
    font-size: 15px;
}


/************************PRICE RANGE********************/

input#amount {
color: #202020;
    padding: 10px 0;
    border: 0;
    margin: 0 auto;
    font-weight: 600;
}

.register_cart div.panel{
    overflow: visible;
    opacity: 1;
    margin-bottom: 60px;
    padding: 0;
}
.register_cart .panel{
    border: solid 1px #ddd;
}
.register_cart .panel a{
border-bottom: 1px solid #ddd;
    border-radius: 3px;
    border: none;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-transform: none;
    font-size: 16px;
    font-weight: 700;
}
.register_cart .panel-body {
    color: #333;
    font-size: 15px;
    
}
.register_cart .panel a:hover{
    text-decoration: underline;
}