
.browser-mockup > * {
  display: block;
}
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ul, ul.square { list-style: square outside; }
	ul ul, ul.circle { list-style: circle outside; }
	ul ul ul, ul.disc { list-style: disc outside; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */
/* #Forms
================================================== */

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.r-tabs {
    position: relative;
    background-color: transparent;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 0px solid #eee;
    border-radius: 0;
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	    position: relative;
    background-color: transparent;
    color: #363636;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 18px 25px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #363636 !important;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor 
{
	color: #0084b4 !important;
    text-shadow: none;
    background-color: white;
  	border-bottom: 0px;
    border-right: 1px solid #eee;
    margin-top: 1px;
}

/* Tab panel */
.r-tabs .r-tabs-panel 
{
	background-color: white;
	border-bottom: 4px solid white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: transparent;
	color: #363636 !important;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #0084b4 !important;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}



.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
	border:1px solid #eee;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: -2px;
    list-style: none;
    border-bottom: 0px solid #eee;
    border-left: 1px solid #eee;
}
.r-tabs .r-tabs-panel {
    padding: 5px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
	    list-style: none;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}