
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
  <div id="page" class="page">
      <div class="block parrot bg-layer content padding-top-bottom-40" id="content10" style="background-color: #eef4f7;">
          <div class="overly"></div>
<style>


</style>
<!-- custom block content -->
    <div class="features-clean" style="background-color:transparent !important;">
        <div class="container">
            <div class="intro">
              <div data-content="true" data-component="heading">
                <h2 class="text-center">Features</h2>
              </div>
              <div data-content="true" data-component="text">
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
          </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                  <div data-content="true" data-component="heading">
                    <div data-content="true" data-component="text">
                    <h3 class="name">Works everywhere</h3>
                  </div>
                </div>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                  <div data-content="true" data-component="heading">
                    <h3 class="name">Always available</h3>
                  </div>
                  <div data-content="true" data-component="text">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
              </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                  <div data-content="true" data-component="heading">
                    <h3 class="name">Customizable</h3>
                  </div>
                  <div data-content="true" data-component="text">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
              </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                  <div data-content="true" data-component="heading">
                    <h3 class="name">Organic</h3>
                  </div>
                  <div data-content="true" data-component="text">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
              </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                  <div data-content="true" data-component="heading">
                    <h3 class="name">Fast</h3>
                  </div>
                  <div data-content="true" data-component="text">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
              </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                  <div data-content="true" data-component="heading">
                    <h3 class="name">Mobile-first</h3>
                  </div>
                  <div data-content="true" data-component="text">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- end custom content -->

      </div>
    </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>

    </html>
