
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
  <div id="page" class="page">
      <div class="block parrot bg-layer content padding-top-bottom-40" id="content10" style="background-color: #282d32;">
          <div class="overly"></div>
<style>
 .fa {
    padding-top: 5px;
}

</style>
<!-- custom block content -->

    <div class="footer-dark" style="background-color:transparent !important;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                      <div data-content="true" data-component="text">
                        <h3 class="text-white">Services</h3> </div>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                      <div data-content="true" data-component="text">
                        <h3 class="text-white">About</h3> </div>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                      <div data-content="true" data-component="text">
                        <h3 class="text-white">Company Name</h3> </div>
                        <div data-content="true" data-component="text">
                        <p class="text-white">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                  </div>
                </div>
                      <div class="col item social">
                      <a href="#"><span class="fa fa-facebook" style="font-size: 24px;" data-selector="span.fa, i.fa"></span></a>
                      <a href="#"><span class="fa fa-twitter" style="font-size: 24px;" data-selector="span.fa, i.fa"></span></a>
                      <a href="#"><span class="fa fa-instagram" style="font-size: 24px;" data-selector="span.fa, i.fa"></span></a>
                      <a href="#"><span class="fa fa-youtube" style="font-size: 24px;" data-selector="span.fa, i.fa"></span></a>
                    </div>
                    <div data-content="true" data-component="text">
                    <p class="copyright">Company Name © 2017</p>
                    </div>                  </div>
            </div>
        </footer>
    </div>
    <!-- end custom content -->

      </div>
    </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>

    </html>
