
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
  <div id="page" class="page">
      <div class="block parrot bg-layer content padding-top-bottom-40" id="content10" style="background-color: #eef4f7;">
          <div class="overly"></div>
<style>


</style>
<!-- custom block content -->
    <div class="contact-clean" style="background-color:transparent !important;">

      <form role="form" action="" method="post" data-selector="form" class="" _lpchecked="1">
        <div data-content="true" data-component="heading" draggable="true">
                                  <h2 data-selector="*[data-component=&quot;heading&quot;] > *" class="">Get in touch</h2>
                              </div>
                                  <input type="text" name="_honey" value="" style="display:none">

                                  <div class="form-group">
                                      <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Your name *">
                                  </div>

                                  <div class="form-group">
                                      <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Your email *">
                                  </div>
                                  <div class="form-group">
                                      <input type="textarea" class="form-control" rows="3" input-lg" id="message" name="message" placeholder="Your message">
                                  </div>

                                  <button type="submit" class="btn btn-primary" data-selector="a.btn, button.btn">Send Message</button>

                              </form>
    </div>
    <!-- end custom content -->

      </div>
    </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>

    </html>
