/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #ffffff;
    line-height: auto;
}
table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] {
    margin:0 !important;
}

.full-width-image {

  width: 600px;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
    margin: 0 auto;
}
.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.full-width-image img {
    max-width: 600px;
    /*width: 100%;*/
    height: auto;
}
.inner {
    padding: 10px;
}
p {
    Margin: 0;
}
a {
    color: #ee6a56;
    text-decoration: underline;
}


/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 14px;
    Margin-bottom: 10px;
}
/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}
.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.contents {
    width: 100%;
}
.two-column .contents {
    font-size: 14px;
    text-align: left;
}
.two-column img {
    width: 100%;
    max-width: 280px;
    height: 150px;
    /*height: auto;*/
}
.two-column img {
    padding-bottom: 10px;
}
/*Three column layout*/
.three-column {
    text-align: center;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .contents {
    font-size: 14px;
    text-align: center;
}
.three-column img {
    width: 100%;
    max-width: 180px;
    height: 145px;
    /*height: auto;*/
}
.three-column img {
    padding-bottom: 10px;
}
/* Left sidebar layout */
.left-sidebar {
text-align: center;
    font-size: 0;
}
.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.left-sidebar .left {
    max-width: 100px;
}
.left-sidebar .left img {
    max-width: 80px;
    height: auto;
}
.left-sidebar .right {
    max-width: 500px;
}
.left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.left-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.left-sidebar a {
    color: #85ab70;
}
/* Right sidebar layout */
.right-sidebar {
text-align: center;
    font-size: 0;
}
.right-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.right-sidebar .left {
    max-width: 100px;
}
.right-sidebar .right {
    max-width: 500px;
}
.right-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}
.right-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.right-sidebar a {
    color: #70bbd9;
}
/*Media Queries*/
@media screen and (max-width: 400px) {
    .two-column .column,
    .three-column .column {
        max-width: 100% !important;
    }
    .two-column img {
        max-width: 100% !important;
    }
    .three-column img {
        max-width: 50% !important;
    }
    .three-column img {
        height: auto;
    }
    .two-column img {
        height: auto;
    }
}
@media screen and (min-width: 401px) and (max-width: 620px) {
    .three-column .column {
        max-width: 33% !important;
    }
    .two-column .column {
        max-width: 50% !important;
    }
}

p.h1, h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
    line-height: 24px;
}
p.h2, h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 10px;
    line-height: 20px;
}

.left-image .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.left-image .left {
    max-width: 240px;
}
.left-image .left img {
    max-width: 220px;
    height: auto;
}
.left-image .right {
    max-width: 350px;
}
.left-image .img {
    width: 100%;
    max-width: 220px;
    height: auto;
}

.right-image .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.right-image .left {
    max-width: 240px;
}
.right-image .left img {
    max-width: 220px;
    height: auto;
}
.right-image .right {
    max-width: 350px;
}
.right-image .img {
    width: 100%;
    max-width: 220px;
    height: auto;
}
hr {
    border: solid 1px #ccc;
    box-shadow: none;
    border-style: solid;
}
tr.block {
    display: block;
}
.mce-content-body p, .mce-content-body div, .mce-content-body h1, .mce-content-body h2, .mce-content-body h3, .mce-content-body h4, .mce-content-body h5, .mce-content-body h6 {
    line-height: normal !important;
}
