
.builderLayout>.sideSecond[data-sidesecond=blocks] nav button.active, .builderLayout>.sideSecond[data-sidesecond=blocks] nav button:hover, .builderLayout>.sideSecond[data-sidesecond=components] nav button.active, .builderLayout>.sideSecond[data-sidesecond=components] nav button:hover {
    background-color: #4a90e2;

}

.btn-primary {
    color: #fff;
    background-color: #4a90e2;
}
.btn:hover, .btn:focus, .btn.focus {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}
.btn {
    border-radius: 2px;
}
.btn-embossed {
     box-shadow: inset 0 0px 0 rgba(0,0,0,.0);
}
body.builderUI {
    padding: 41px 0 0 90px;
    background: #ffffff;
    display: block;
}
.btn-primary {
    color: #fff;
    background-color: #4a90e2;

}
.btn-primary:hover {
    color: #fff;
    background-color: #4a90e2;

}
.btn-primary.active, .btn-primary, .open>.dropdown-toggle.btn-primary {
    background: #4a90e2;
    border-color: #4a90e2;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background: #4a90e2;
    border-color: #4a90e2;
}
body.builderUI {
    padding: 41px 0 0 90px;
    background: #fff;
    display: block;
}
.btn-primary.active, .btn-primary, .open>.dropdown-toggle.btn-primary {
    border-radius: 6px;

}
.styleEditor .breadcrumb .active {
    color: #4a90e2;

}
.styleEditor .breadcrumb>li:after {
    color: #4a90e2;
}
.styleEditor .sideButtons {
    margin: 0 0 30px !important;
    width: 100%;
}
