/*
Copyright 2016 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/* Base styles, media queries, variables, etc. */
@import './base/custom-media';
@import './base/variables';


/* Components. */
@import './components/active-users';
@import './components/chartjs';
/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.Chartjs {
  font-size: .85em;
}

.Chartjs-figure {
  height: 250px;
}

.Chartjs-legend {
  list-style: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}

.Chartjs-legend > li {
  display: inline-block;
  padding: .25em .5em
}

.Chartjs-legend > li > i {
  display: inline-block;
  height: 1em;
  margin-right: .5em;
  vertical-align: -.1em;
  width: 1em;
}

@media (--break-md) {
  .Chartjs-figure {
    /* Add some breathing room. */
    margin-right: var(--gap);
  }
}


/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/*
Copyright 2014 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


.ActiveUsers {
  background: var(--bg-color-light);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-weight: 300;
  padding: .5em var(--gap);
  white-space: nowrap;
}

.ActiveUsers-value {
  display: inline-block;
  font-weight: 600;
  margin-right: -.25em;
}

.ActiveUsers.is-increasing {
  animation: increase 3s;
}

.ActiveUsers.is-decreasing {
  animation: decrease 3s;
}

@keyframes increase {
  0% {}
  10% {
    background-color: hsl(120, 100%, 96%);
    border-color: hsla(120, 100%, 25%, .5);
    color: hsla(120, 100%, 25%, 1);
  }
  100% {}
}

@keyframes decrease {
  0% {}
  10% {
    background-color: hsl(0, 100%, 96%);
    border-color: hsla(0, 100%, 50%, .5);
    color: hsl(0, 100%, 50%);
  }
  100% {}
}


@custom-media --break-sm (min-width: 420px);
@custom-media --break-md (min-width: 570px);
@custom-media --break-lg (min-width: 1024px);
/*
Copyright 2015 Google Inc. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/


:root {

  --ga-gray: #75787d;
  --ga-orange-dark: hsl(16, 87%, 54%); /* #f05721; */
  --ga-orange-light: hsl(34, 93%, 54%); /* #f7991c; */

  --ga-logo-height: 26px;
  --ga-logo-width: 303px;

  --gap: 1.5em;
  --gap-lg: 2em;

  --text-color: #333;
  --text-color-light: #ddd;
  --text-color-faded: #777;
  --text-color-faint: #aaa;

  --action-color: hsl(217, 91%, 63%);
  --action-color-dark: hsl(217, 91%, 53%);

  --error-color: hsl(0, 60%, 50%);
  --error-color-bg: hsl(0, 60%, 97%);

  --success-color: hsl(135, 60%, 40%);
  --success-color-dark: hsl(135, 60%, 33%);
  --success-color-bg: hsl(135, 60%, 97%);

  --info-color: hsl(200, 75%, 55%);

  --bg-color-dark: #333;
  --bg-color-dark-faded: #444;
  --bg-color-light: hsl(30, 10%, 95%);

  --border-color: #d4d2d0;
  --border-color-active: #3b99fc;

  --sidebar-width: 260px;
  --sidebar-width-md: 280px;

  --quantum-timing: cubic-bezier(.4,0,.2,1);
}
