.col-md-offset-4 {

    margin-right: auto;
    width: 412px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding : 40px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body.login .divider>span {
    background: #fff;
    padding: 0 15px;
}
body.login form a {
    color: #4a90e2;
}

body.login h2 {
    color: #555555;
}


.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}
input {
    outline: none;
    border: none;
}
button, input {
    overflow: visible;
}


.btn-embossed {
    box-shadow: inset 0 0px 0 rgba(0,0,0,.0);
}
h1, h2, h3 {
    margin-top: 0px;
}
.btn-inverse {
    border: 1px solid #d3d3d3 !important;
    border: 2px;
    color: #000;
    background-color: transparent;
}
.btn-inverse:hover {
    border: 1px solid #000 !important;
    background-color: transparent;
    border: 2px;
    color: #000;
}
body.login form input[type=email], body.login form input[type=password], body.login form input[type=text] {
  color: #000 !important;
}
.btn {

    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    border-radius: 6px;
    padding-top: 0.46428571em;
    padding-bottom: 0.46428571em;
    padding-right: 2.78571429em;
    padding-left: 2.78571429em;
    border: 1px solid #252525;
    border-width: 1px;
    font-size: inherit;
    line-height: 1.85714286em;

}
.btn:hover {
    transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);

}
.btn-primary {
    background: #4a90e2  !important;
    border: 1px solid #4a90e2 !important;
    color: #fff;
}
body.login {
    background-color:  #fafafa;
}
.col-md-offset-4 {
        border: 1px solid #ececec;
        background : #fff;
}

body.login form input[type=email], body.login form input[type=password], body.login form input[type=text] {
    -webkit-appearance: none;
    background: #fcfcfc;
    padding: 0.46428571em;
    border-radius: 6px;
    border: 1px solid #ececec;
}
body.login form input[type=email]:focus, body.login form input[type=password]:focus, body.login form input[type=text]:focus {
    -webkit-appearance: none;
    background: #fcfcfc;
    padding: 0.46428571em;
    border-radius: 6px;
   border-color: #76abe9;;
}
.input-group-addon:last-child, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group .form-control:last-child, .input-group .select2-search input[type=text]:last-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
body.login form .input-group {
    margin-bottom: 20px;
    width: 100%;
}
