@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar-inverse .navbar-brand {
    color: #fff;
    /* width: 160px; */
    padding-top: 0px;
    height: 53px;
    width: 140px;
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 50px;
    vertical-align: center;
}
.fc-center h2 {
    font-size: 24px
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.hover, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].hover, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.hover, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #bdc3c7;
    border-color: #bdc3c7 !important;
}
.input-group-btn:last-child>.btn {
  background-color: #4a90e2 !important;
      border-color: #4a90e2 !important;
      color: #fff !important;
}

.fc {

    padding-top: 30px;
}
.fc-toolbar.fc-header-toolbar {
    padding-bottom: 30px;
}

.navbar-brand>img {
    /* display: block; */
    margin: 0 auto;
    max-height: 40px;
    max-width: 140px;
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

/* Navbar restyling*/

.navbar-inverse .navbar-collapse {
    border-width: 2px;
    border-color: #ddd;
}

.navbar {
    border-width: 0;
}

.navbar-inverse {
    background: #fff !important;
    animation: fadeInDown 0.3s ease-out forwards;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
}
.navbar-inverse .navbar-nav > li > a {
    color: #252525;
    font-weight: 400;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #333333;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    color: #333333;
    font-weight: 400;
}
.navbar-inverse .navbar-nav>.dropdown>a:focus .caret, .navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #fafafa;
    color: #333333;
    border-left-color: transparent;
}

.navbar-nav > li > a {
    line-height: 21px;
}
.navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px !important;
    font-weight: 600;
    font-size: 13px;
}
.navbar-nav [class^=fui-] {
    line-height: 20px;
    position: relative;
    top: -1px;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
}

.mainnav .navbar-header {
    width: 140px;
}
body .navbar-brand {
        padding-left: 19px;
}
.navbar-nav>li:hover {
    color: #333333 !important;
    background-color: #fafafa;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    -webkit-box-shadow: 0 1px 0 0 #26A69A;
    box-shadow: 0 1px 0 0 #26A69A;
    color: #333333 !important;
    background-color: #fafafa !important;
}
.navbar-nav {
    margin-left: 20px;
}


/* Drop down menu */

.dropdown-menu > li {
    position: relative;
    margin-bottom: 1px;
}
.dropdown-menu > li > a {
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 600;
}
.dropdown-menu > li > a {
    padding: 8px 15px;
    outline: 0;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5384616;
    color: #333333;
    white-space: nowrap;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 1px;
    border-top-width: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    overflow: inherit;
}
.dropdown-menu {
    padding: 0;
    overflow: hidden;
}
.dropdown-menu {
    border-width: 2px;
}
a:active {
    color: #4a90e2;

}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0 !important;

    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    padding: 15px 20px !important;
    font-size: 13px;
    font-weight: 600 !important;
}
.dropdown-menu > li > a {
    outline: 0;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400 !important;
    line-height: 1.5384616;
    color: #333333 !important;
    white-space: nowrap;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

}
.dropdown-menu > li > a:hover{
  background-color: #fff !important;
  color: #4a90e2 !important;

}
.dropdown-menu > li {
    position: relative;
    margin-bottom: 0px;
}
.siteDetails .clearfix .btn {
    border-radius: 0px;
}
/* Body Styling */

body {
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #666666;
    font-weight: 400;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 14px;
    background-color: #fff;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
}
body.sites .container-fluid {
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;

}
body .container-fluid {
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;
}

/* header tasgs */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 20px;
}
.h1, h1 {
    font-size: 30px;
}

.text-semibold {
    font-weight: 600;
}

/* Buttons */
.btn a, a.btn {
    color: #fff;
}
.btn {
}
.btn {
    font-size: 14px;
}

.btn-embossed {
    box-shadow: inset 0 0px 0 rgba(0,0,0,.0);
}
.btn-primary {
  background: #4a90e2  !important;
  border: 1px solid #4a90e2 !important;
  color: #fff;
}
.btn-lg {
border-radius: 6px !important;}


.btn-primary:hover {
  background: #609de6  !important;
  border: 1px solid #609de6 !important;
  color: #fff;
    border-radius: 6px !important;

}
.siteDetails .clearfix .btn:hover {
  transform: translate3d(0, 0px, 0) !important;
  -webkit-transform: translate3d(0, 0px, 0) !important;
  border-radius:0px !important;
}

.btn {
    position: relative;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Form restyling */
.form-control, .select2 {
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px #ccc !important;
    font-weight: 600;
}
.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px;
    border: none;
    padding: 5px;
    opacity: .65;
    left: 5% !important;
    right: 5% !important;
    opacity: 1.0 !important;
}
.list_PostActions li.active {
    border: none !important;
    opacity: 1.0 !important;
}
.list_PostActions li {
  border: none !important;
  opacity: 0.4 !important;
}

#timeschedule {
  color: #091515;
  background: transparent !important;
  font-size: 13px;
  border-radius: 5px;
  border: solid 1px #ccc !important;
  font-weight: 600;
}


.checkbox input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .checkbox input[type=radio].custom-radio:checked+.icons .icon-checked, .radio input[type=checkbox].custom-checkbox:checked+.icons .icon-checked, .radio input[type=radio].custom-radio:checked+.icons .icon-checked {
    opacity: 1;
    filter: none;
    color: #4a90e2 !important;
    transition: color .25s linear;
}
a:focus, a:hover {
    color: #4a90e2;
}
/* Analytics Styling */

#view-selector-container table {
        float :left;
    }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        -webkit-box-shadow: 0 1px 0 0 #31639c;
        box-shadow: 0 1px 0 0 #31639c;
    }
    .panel-primary {
        border-color: #4A90E2;
    }
    body .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom: 2px solid #4A90E2;
        background-color: #4A90E2!important;
        box-shadow: 0!important;
    }
    .panel-footer {
        background-color: #4A90E2;
        border-top: 2px solid #94BDEC;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .panel-primary .pull-left {
        color: #fff;
    }
    .panel-primary .fa-arrow-circle-right {
        color: #fff;
    }

    .fa-tasks {
        color: #fff;
    }
     .panel-green .panel-heading {
         color:#fff;
    }
    .panel-green .pull-left {
        color:#fff;
    }
    .fa-shopping-cart {
        color:#fff;
    }
    .panel-yellow .panel-heading {
        color:#fff;

    }
    .panel-yellow .pull-left {
        color:#fff;

    }
    .panel-yellow .fa-arrow-circle-right {
        color:#fff;
    }
    .panel-red .pull-left {
        color:#fff;
    }
    .panel-red .fa-arrow-circle-right {
        color:#fff;
    }
    .fa-support {
        color:#fff;
    }
    .panel-primary>.panel-heading {
    color: #fff;
    background-color: #34495e;
    border-color: transparent;
}
.panel-red .panel-heading {
    color:#fff;
}
.panel-green .fa-arrow-circle-right {
    color:#fff;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
