.gridView *[class*="col-"] {
	outline: 2px dashed pink;
}

.container:empty, .container-fluid:empty, .container-hover {
	background: #ecf0f1;
	text-align: center;
	min-height: 100px;
}

nav > .container, nav > .container-fluid {
	min-height: auto;
}

.container:empty:before, .container-hover:before {
	content: "EMPTY CONTAINER, START BY ADDING A GRID";
	display: inline-block;
	line-height: 100px;
	color: #95a5a6;
    letter-spacing: 1px;
    font-size: 15px;
}

*[draggable="true"]:hover {
	cursor: move;
}

.reserved-drop-marker {
	width: 100%;
	height: 2px;
	background: #00a8ff;
	position: absolute;
}

.reserved-drop-marker::after, .reserved-drop-marker::before {
	content: '';
	background: #00a8ff;
	height: 7px;
	width: 7px;
	position: absolute;
	border-radius: 50%;
	top: -2px
}

.reserved-drop-marker::before {
	left: 0
}

.reserved-drop-marker::after {
	right: 0
}

[data-dragcontext-marker], [data-sh-parent-marker] {
	outline: #E55DD8 solid 1px;
	text-align: center;
    position: absolute;
	z-index: 123456781;
	pointer-events: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

[data-dragcontext-marker] [data-dragcontext-marker-text], [data-sh-parent-marker] [data-sh-parent-marker-text] {
	background: #E55DD8;
	color: #fff;
	padding: 2px 10px;
	display: inline-block;
	font-size: 14px;
	position: relative;
	top: -25px;
	min-width: 121px;
	font-weight: 700;
	pointer-events: none;
	z-index :123456782
}

[data-dragcontext-marker].invalid {
	outline: #dc044f solid 2px
}

[data-dragcontext-marker].invalid [data-dragcontext-marker-text] {
	background: #dc044f
}

[data-dragcontext-marker=body] {
	outline-offset: -2px
}

[data-dragcontext-marker=body] [data-dragcontext-marker-text] {
	top: 0;
	position: fixed
}

.drop-marker {
	pointer-events: none;
}

.drop-marker.horizontal {
	background: #00adff;
	position: absolute;
	height: 5px;
	list-style: none;
	visibility: visible !important;
	box-shadow: 0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4);
	z-index: 123456789;
	text-align: center
}

.drop-marker.horizontal.topside {
	margin-top:0
}

.drop-marker.horizontal.bottomside {
	margin-top:2px
}

.drop-marker.horizontal:before {
	content: "";
	width: 10px;
	height: 10px;
	background: #00adff;
	border-radius: 10px;
	margin-top: -3px;
	float: left;
	box-shadow: 0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4)
}

.drop-marker.horizontal:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #00adff;
	border-radius: 10px;
	margin-top: -3px;
	float: right;
	box-shadow: 0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4)
}

.drop-marker.vertical {
	height: 50px;
	list-style: none;
	border: 1px solid #00ADFF;
	position: absolute;
	margin-left: 3px;
	display: inline;
	box-shadow: 1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)
}

.drop-marker.vertical.leftside {
	margin-left: 0
}

.drop-marker.vertical.rightside { 
	margin-left: 3px
}

.drop-marker.vertical:before {
	content: "";
	width: 8px;
	height: 8px;
	background: #00adff;
	border-radius: 8px;
	margin-top: -4px;
	top: 0;
	position: absolute;
	margin-left: -4px;
	box-shadow: 1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)
}

.drop-marker.vertical:after { 
	content: "";
	width: 8px;
	height: 8px;
	background: #00adff;
	border-radius: 8px;
	margin-left: -4px;
	bottom: -4px;
	position: absolute;
	box-shadow: 1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)
}

*[data-component] {
	/*position: relative;
    z-index: 10;*/
}

*[data-container]:before {
	display: table;
	content: "";
}

*[data-container]:after {
	clear: both;
	display: table;
	content: "";
}

.row > div {
    min-height: 25px;
}

nav .row > div {
    min-height: auto;
}

.row > div:empty {
    content: "";
    min-height: 50px;
    background: none;
    display: block;
}

.drop-hover {
    background: none;
    border: 2px dashed red;
    height: 40px;
    list-style: none;
    list-style-type: none;
    width: 100%;
    display: block !important;
    position: absolute !important;
    margin: 0px !important;
    padding: 0px !important;
}

.sb_hover {
	outline: 2px solid rgba(229,77,66,0.75) !important;
	outline-offset: -1px !important;
	cursor: move !important;
}

.sb_open {
	outline: 2px solid rgba(63,176,255,0.75) !important;
	outline-offset: -1px !important;
	cursor: pointer !important;
}

.mapWrapper {
	position: relative;
}

.mapWrapper > .mapOverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* canvas toolbar */
.canvasElToolbar {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.canvasElToolbar button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #E54D42;
	border: 0px;
	padding: 0px;
	opacity: 0.75;
	transition: opacity 0.5s;
}

.canvasElToolbar button:hover {
	opacity: 1;
}

.canvasElToolbar button > img {
	max-width: 14px;
	margin: auto; 
}

.canvasElToolbar.top button:first-child {
	border-top-left-radius: 5px;
}

.canvasElToolbar.top button:last-child {
	border-top-right-radius: 5px;
}

.canvasElToolbar.bottom button:first-child {
	border-bottom-left-radius: 5px;
}

.canvasElToolbar.bottom button:last-child {
	border-bottom-right-radius: 5px;
}

.canvasElToolbar.inside button:last-child {
	border-bottom-right-radius: 5px;
}