/**
 * PHP Social Stream 2.6.1
 * Author: Axent Media
 * Author URI: https://axentmedia.com/
 * Copyright 2015 Axent Media (email: axentmedia@gmail.com)
 */

/* Common */
.sboard {
    font-size: 11px;
    list-style: none outside none;
    box-sizing: content-box;
}
.sboard.sb-widget {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.sboard.sb-widget.tabable {
    border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
}
.sboard.normal.sb-widget.tabable {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sboard .sb-item {
	float: left;
    height: auto;
    font-size: 100% !important;
    cursor: default;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    box-sizing: content-box;
}
.sboard.sb-widget .sb-item {
    position: relative !important;
    float: none !important;
    width: auto;
    margin-bottom: 10px;
}
.sboard.sb-widget .sb-heading i.sb-arrow {
    background-image: url(../img/arrow-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 10px;
    width: 13px;
    margin-top: 4px;
}
.sboard.sb-widget.open .sb-heading i.sb-arrow {
    background-position: 35% center;
}
.sboard .panel-body.sb-item {
    float: none;
    width: auto !important;
}
.sboard .sb-item .sb-inner {
    padding: 15px 15px 10px 15px;
}
.sboard .sb-item .sb-imgnormal .sb-inner {
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.sboard.timeline .sb-item .sb-imgnormal .sb-inner {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.sboard .sb-item .sb-inner p {
	margin: 0;
	padding: 0;
}
.sboard .sb-item a {
	color: #00aede;
    text-decoration: none;
    box-shadow: none;
    border: 0;
}
.sboard .sb-item img {
    max-width: 100%;
}
.sboard .sb-item .sb-inner a:hover {
    text-decoration: underline;
}
.sboard .sb-item .sb-thumb {
    position: relative;
    line-height: 0;
}
.sboard .sb-item .sb-inner .sb-thumb {
    padding: 1px;
	max-width: 100%;
	border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
    display: block;
    clear: left;
}
.sboard .sb-item .sb-thumb img {
    width: 100%;
    display: block;
	background-color: #EDEDED;
    padding: 0 !important;
    position: inherit !important;
    height: inherit !important;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-transform: inherit !important;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
}
.sboard .sb-item .sb-inner .sb-thumb img {
    max-width: 100%;
    display: block;
    margin: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.sboard .sb-advert img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* image crop */
.sboard .sb-item .sb-thumb .sb-crop {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.sboard .sb-item .sb-inner .sb-share {
	display: block;
	margin: 0;
	float: right;
    line-height: 0;
    font-size: 0;
}
.sboard .sb-item .sb-inner .sb-share a {
    padding: 4px;
    margin-right: 2px;
    text-align: center;
    box-sizing: content-box;
    display: inline-block;
}
.sboard .sb-item .sb-inner .sb-share.sb-tweet a {
    padding: 0;
    margin-right: 10px;
}
.sboard .sb-item .sb-inner .sb-meta.sb-tweet a {
    font-weight: inherit;
}
.sboard .sb-item .sb-inner .sb-meta.sb-tweet a i {
    float: left;
    margin-right: 5px;
}
.sboard .sb-item .sb-inner .sb-share a:hover {
    text-decoration: none;
}
.sboard .sb-item .sb-inner .sb-share a:last-child {
    margin-right: 0 !important;
}
.sboard .sb-item .sb-inner .sb-share .sb-meta a {
	margin: 0 2px 0 0;
    color: #999;
}
.sboard .sb-item .sb-inner .sb-share .sb-meta a:hover {
    color: #666666;
}

/* metadata */
.sboard .sb-item .sb-inner .sb-metadata {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.sboard .sb-item .sb-inner .sb-metadata .sb-meta .comments,
.sboard .sb-item .sb-inner .sb-metadata .sb-meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
    padding-left: 0;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
.sboard .sb-item .sb-inner .sb-meta.sb-mention {
	padding: 0 0 0 38px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.sboard .sb-item .sb-inner .sb-meta.sb-mention.sb-nocommentimg {
    padding: 0 0 8px 0px;
    margin: 0 8px 8px 8px;
    border-bottom: 1px dotted #E5E5E5;
}
.sboard .sb-item .sb-inner .sb-meta.sb-mention.sb-nocommentimg:last-child {
    border-bottom: 0 !important;
    padding-bottom: 0;
}
.sboard .sb-item .sb-inner .sb-meta.sb-mention .sb-commentimg {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
    height: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sboard .sb-item .sb-inner .sb-meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.sboard .sb-item .sb-inner .sb-meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
    height: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	border-radius: 0;
	box-shadow: none;
}
.sboard .sb-item .sb-inner .sb-title {
	display: block;
	font-weight: bold;
	margin-bottom: 7px;
	max-width: 100%;
    line-height: 1.6em;
    clear: left;
}
.sboard .sb-item .sb-inner .sb-text,
.sboard .sb-item .sb-inner .sb-info {
	clear: left;
	max-width: 100%;
    line-height: 1.5em;
    display: block;
    margin-bottom: 7px;
    overflow: hidden;
}
.sboard .sb-item .sb-inner .sb-thumb.sb-object > *,
.sb-object > * {
    margin: 0;
    background-size: cover;
}
.sboard .sb-item .sb-inner .sb-info {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
    box-sizing: content-box;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-info {
    height: 22px;
}
.sboard .sb-item .sb-inner .sb-meta {
	display: block;
	font-size: 90%;
    clear: both;
    word-wrap: break-word;
}
.sboard .sb-item .sb-inner .sb-meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0;
	line-height: 12px;
}
.sboard .sb-item .sb-inner .sb-user,
.sboard .sb-item .sb-inner .sb-user-foot {
	margin: 0px 5px 0 0;
	display: block;
	float: left;
	padding: 0;
	line-height: 16px;
	color: #999;
}
.sboard .sb-item .sb-footer {
    padding: 7px 15px 7px 9px;
	font-style: normal;
	font-weight: bold;
	font-size: 90%;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}
.sboard .sb-item .sb-footer a {
	color: #fff;
    border: 0;
}
.sboard .sb-item .sb-footer a:hover {
    text-decoration: underline;
}
.sb-hover {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    text-decoration: none;
    color: #fff !important;
}
.sb-hover:hover,
.filter .active,
.filter-items .active {
    background-color: #353535;
    border-color: #353535;
    color: #fff !important;
}
/* google */
.sboard .sb-item.sb-google .sb-inner .sb-title {
	margin-bottom: 5px;
}
.sboard .sb-item.sb-google .sb-inner .sb-meta span.plusones {
	padding-left: 0;
}
/* vimeo */
.sboard .sb-item.sb-vimeo .sb-title {
	display: block;
	clear: both;
}
.sboard .sb-item.sb-vimeo .sb-text .sb-meta,
.sboard .sb-item.sb-vimeo .sb-info .sb-meta {
	padding-top: 5px;
}

.sboard .sb-opener {
    position: absolute;
    display: block;
    color: white;
    width: 30px;
    top: 45px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px 0px rgba(34, 25, 25, 0.4);
}
.sboard.sb-right .sb-opener {
    left: 0px;
    margin-left: -30px;
    border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
}
.sboard .sb-opener img {
    box-shadow: none;
    border-radius: 0;
    vertical-align: middle;
}
.sboard.sb-left .sb-opener {
    right: 0px;
    margin-right: -30px;
    border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
}
.sboard .sb-heading {
	font-size: 12px;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
	position: relative;
    line-height: normal;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard .sb-content {
	position: relative;
	overflow: hidden;
	padding: 10px 10px 5px 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.sboard .sb-content .sb-loading {
    height: 50px;
    background: url('../img/oval-bg.svg') no-repeat center center transparent;
    background-size: 50px;
    text-align: center;
    margin: 50px 0 0 0;
    position: relative;
}
.sboard .sb-content .sb-loading i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.sb-loadmore {
    margin: 40px 0 20px 0;
    padding: 10px 0 10px 0;
    background-color: rgba(220, 220, 220, 0.5);
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}
.sb-loadmore:hover {
    outline: 0 none;
    background-color: rgba(220, 220, 220, 1);
}
.sb-loadmore p {
    padding: 0 !important;
    margin: 0 !important;
    height: 20px;
    line-height: 2em;
    text-transform: uppercase;
    text-align: center;
    font-size: inherit !important;
}
.sb-loadmore .sb-loading {
    background: url('../img/more-loading.gif') no-repeat center 55% transparent;
}
.sb-loadmore.sb-infinite {
    height: 20px !important;
    cursor: default;
}
.sb-loadmore.sb-infinite,
.sb-loadmore.sb-infinite:hover {
    background-color: transparent !important;
}
.sboard-nodata {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 5px;
}
.sboard .toolbar {
	padding: 3px 5px 5px 5px;
	position: relative;
    overflow: hidden;
    line-height: 1em;
    font-size: 0;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
}
.sboard .control {
    float: right;
}
.sboard .control span:last-child {
    padding-right: 0;
}
.sboard .toolbar span {
	display: inline-block;
    box-sizing: content-box;
    margin: 2px 2px 0 0;
	cursor: pointer;
	width: 25px;
    height: 25px;
    text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.sboard .toolbar span:hover {
	color: #333;
}
.sboard .toolbar i {
    margin-top: 5px;
}
.sboard.sb-widget .sb-content ul {
    overflow: visible !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.sboard.sb-widget .sb-content ul li {
    list-style: none !important;
    padding: 0;
}

/* sticky */
.sboard.sticky,
.sboard.slide {
    position: fixed;
    z-index: 99999;
    margin: 0 !important;
}
.sboard.sticky.sb-bottom_left,
.sboard.slide.sb-bottom_left {
    bottom: 0;
    left: 5px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard.sticky.sb-bottom_right {
    bottom: 0;
    right: 5px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.sboard.sticky.sb-left {
    top: 20%;
    left: 0;
    border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
}
.sboard.sticky.sb-right {
    top: 20%;
    right: 0;
}
.sboard.sticky.sb-right .toolbar {
    overflow: hidden;
    border-radius: 0 0 0 7px;
    -moz-border-radius: 0 0 0 7px;
    -webkit-border-radius: 0 0 0 7px;
}
.sboard.sticky.sb-left .toolbar {
    border-radius: 0 0 7px 0;
    -moz-border-radius: 0 0 7px 0;
    -webkit-border-radius: 0 0 7px 0;
}
.sboard.sticky.sb-bottom_right .toolbar,
.sboard.sticky.sb-bottom_left .toolbar {
    border-bottom: 0 !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.sboard.sticky.sb-right .sb-heading {
    border-radius: 7px 0 0 0;
    -moz-border-radius: 7px 0 0 0;
    -webkit-border-radius: 7px 0 0 0;
}
.sboard.sticky.sb-left .sb-heading {
    border-radius: 0 7px 0 0;
    -moz-border-radius: 0 7px 0 0;
    -webkit-border-radius: 0 7px 0 0;
}
.sboard.sticky.sb-bottom_right .sb-heading,
.sboard.sticky.sb-bottom_left .sb-heading {
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}

/* tabable */
.sboard.sticky.tabable .sb-tabs {
    position: absolute;
    display: block;
    color: white;
    width: 150px;
    top: 45px;
}
.sboard.sticky.tabable.sb-right .sb-tabs {
    float: left;
    left: 0px;
    margin: 0 0 0 -35px;
}
.sboard.sticky.tabable.sb-left .sb-tabs {
    float: right;
    right: 0px;
    margin: 0 -35px 0 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs {
    width: 250px;
    top: -35px;
    margin-left: 7px;
}
.sboard.normal.tabable .sb-tabs {
    display: table;
    margin-left: 7px;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs.minitabs,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs.minitabs {
    top: -28px;
}
.sboard.sticky.tabable .sb-tabs .sticky li,
.sboard.normal.tabable .sb-tabs .sticky li {
	list-style-type: none;
	background-color: #8E8E8E;
	color: #fff;
	padding: 6px 0 0 0;
	margin: 0px 0px 1px 0px;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	cursor: pointer;
    line-height: 2em;
    box-sizing: content-box;
}
.sboard.normal.tabable .sb-tabs .sticky li {
    margin: 0;
    width: 35px;
    line-height: normal;
}
.sboard.normal.tabable .sb-tabs.minitabs .sticky li {
    width: 25px;
    height: 25px;
}
.sboard.sticky.tabable .sb-tabs.minitabs .sticky li {
    height: 20px;
    line-height: 1.2em;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li {
	height: 27px;
    text-align: left;
    line-height: 1.6em;
    border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li {
	height: 27px;
    text-align: right;
    line-height: 1.6em;
    border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs .sticky li,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs .sticky li,
.sboard.normal.tabable .sb-tabs .sticky li {
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 1px;
    border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
}
.sboard.sticky.tabable.sb-bottom_right .sb-tabs.minitabs .sticky li,
.sboard.sticky.tabable.sb-bottom_left .sb-tabs.minitabs .sticky li {
    width: 25px;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li:hover,
.sboard.sticky.tabable.sb-right .sb-tabs .sticky li.active {
	margin-left: -115px;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li:hover,
.sboard.sticky.tabable.sb-left .sb-tabs .sticky li.active {
	margin-right: -115px;
}
.sboard.sticky.tabable .sb-tabs .sticky li img {
	float: left;
	margin: 5px 5px;
	margin-right: 10px;
}
.sboard.sticky.tabable .sb-tabs .sticky i {
    font-size: 180%;
    margin: 1px 5px 0 5px;
}
.sboard.sticky.tabable .sb-tabs.minitabs .sticky i {
    font-size: 120%;
    margin: 1px 4px 0 4px;
}
.sboard.sticky.tabable.sb-right .sb-tabs.minitabs .sticky i {
    margin: 1px 8px 0 8px;
}
.sboard.sticky.tabable.sb-left .sb-tabs.minitabs .sticky i {
    margin: 1px 6px 0 10px;
}
.sboard.sticky.tabable.sb-right .sb-tabs .sticky i {
    float: left;
}
.sboard.sticky.tabable.sb-left .sb-tabs .sticky i {
    float: right;
}
.sboard.sticky.tabable .sb-tabs .sticky li span {
	text-transform: uppercase;
    font-size: 120%;
}

/* carousel */
.sboard.sb-carousel .sb-content {
    padding: 10px;
}
.sboard.sb-carousel .sb-item {
    margin-right: 1px;
    float: none;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-text {
    display: block;
    height: 75px;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-text.sb-expand {
    height: 195px;
    font-size: 120%;
    text-align: center;
    position: relative;
    padding-top: 42px;
    background: url(../img/blockquote.png) no-repeat scroll center 5%, url(../img/blockquote_b.png) no-repeat scroll center 95%;
    box-sizing: content-box;
}
.sboard.sb-carousel .sb-item .sb-inner .sb-text.sb-notitle {
    height: 80px;
}
.sboard.sb-carousel .sb-item .sb-thumb {
    display: block;
    max-width: 100%;
    height: 150px;
    position: relative;
    padding: 0;
    box-sizing: content-box;
	background-color: #EDEDED;
}
.sboard.sb-carousel li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg {
    text-align: center;
    position: relative;
    top: 15%;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg img {
    display: inline;
    margin: 20px auto 10px;
    max-height: 50px;
}
.sboard .sb-item .sb-inner .sb-thumb .sb-crop.sb-userimg span {
	font-size: 200%;
    display: block;
}
.sboard .sb-item .sb-thumb .sb-playstate {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: url(../img/playstate.png) no-repeat scroll center center;
}

/* slideshow */
.sboard.sb-slideshow .sb-item {
    cursor: pointer;
}
.sb-slide {
    width: 100%;
}
.sb-slide .sb-item {
    float: none;
}
.sb-slide .sb-item .sb-inner {
    padding: 0 !important;
	position: relative;
}
.sb-slide .sb-item .sb-inner .sb-thumb {
    float: left;
    width: 70%;
    min-width: 400px;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background: url("../img/grid.svg") no-repeat center center;
    background-color: #EDEDED;
    background-size: 50px;
    display: block;
}
.sb-slide .sb-item .sb-inner .sb-thumb span {
    display: inline-block;
    width:100%;
    height:500px
}
.sb-slide .sb-item .sb-inner .sb-body {
    width: 30%;
    overflow-x: hidden;
}
.sb-slide .sb-item .sb-inner .sb-scroll {
    overflow-y: auto;
    padding: 15px 15px 45px 15px;
}
.sb-slide .sb-item .sb-inner .sb-body.sb-nothumb {
    width: auto !important;
    float: none !important;
}
.sb-slide .sb-item .sb-inner .sb-body .sb-micon {
    display: block !important;
    margin: 4px 0 0 3px !important;
}
.sb-slide .sb-item .sb-user .sb-uthumb {
    width: 55px !important;
    height: 55px !important;
}
.sb-slide .sb-item .sb-user .sb-uthumb img {
    width: 55px !important;
    height: 55px !important;
}
.sb-slide .sb-item .sb-slide-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
    text-align: center;
    padding: 3px 5px 5px 3px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}
.sb-slide .sb-item .sb-slide-footer {
	width: 30%;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #FFF none repeat scroll 0% 0%;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	text-shadow: none;
}
.sb-slide .sb-item .sb-slide-foot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 4px 15px 5px 15px;
	line-height: 1.7em;
}
.sb-slide .sb-item .sb-slide-foot a {
	line-height: 1em;
}
.sb-slide .sb-item .sb-nothumb .sb-slide-footer {
    width: 100%;
}
.sb-slide.sb-modern .sb-item {
    border: 0 !important;
}
.sb-slide .sb-thumb .sb-imgholder {
    width: auto !important;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.sb-slide .sb-thumb.sb-object span > *,
.sb-slide .sb-thumb span iframe {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-height: 100%;
}
#cboxCurrent {
    font-size: small;
}
.sboard iframe {
    display: block;
    margin: auto !important;
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    -o-filter: none;
    filter: none;
}
@media (max-width: 767px) {
    .sb-slide .sb-item .sb-inner .sb-thumb {
        float: none;
        max-width: none;
        height: 50%;
        width: 100% !important;
        min-width: auto !important;
    }
    .sb-slide .sb-item .sb-inner .sb-thumb span {
        width:100%;
		height:250px
    }
    .sb-slide .sb-item .sb-inner .sb-body {
        width: 100% !important;
        height: auto;
        overflow-y: visible !important;
    }
    .sb-slide .sb-item .sb-slide-footer {
        width: 100% !important;
    }
	.sb-slide .sb-item .sb-user .sb-uthumb {
		width: 30px !important;
		height: 30px !important;
	}
	.sb-slide .sb-item .sb-user .sb-uthumb img {
		width: 30px !important;
		height: 30px !important;
	}
}
@media (min-width: 768px) {
    #colorbox,
    #cboxOverlay,
    #cboxWrapper {
        overflow: visible !important;
    }
    #cboxPrevious {
        background: url(../img/colorbox/controlsw.png) no-repeat top right !important;
        left: -28px !important;
    }
    #cboxPrevious:hover {
        background-position: right bottom !important;
    }
    #cboxNext {
        background:url(../img/colorbox/controlsw.png) no-repeat top left !important;
        right: -28px !important;
    }
    #cboxNext:hover {
        background-position: left bottom !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sb-slide .sb-item .sb-inner .sb-thumb {
        min-width: 200px;
    }
}
@media (min-width:992px) {
	.sb-slide {
		font-size: inherit !important;
	}
	.sb-slide .sb-item .sb-slide-foot {
		padding: 5px 15px 4px 15px;
		line-height: 1.4em;
	}
}

/* filter */
.filter-items {
    padding: 15px 1px 15px 0;
    font-size: 0;
    display: table;
    width: 100%;
}
.filter-label {
	display: inline-block;
	float: left;
    box-sizing: content-box !important;
	margin: 0px 5px 0px 0px;
	padding: 5px;
    width: 25px;
    height: 25px;
	cursor: pointer;
    text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.filter-items .sb-filter {
	font-size: 12px;
	float: left;
	display: inline-block;
    box-sizing: content-box !important;
	margin: 0px 5px 0px 0px;
	padding: 5px 10px 5px 10px;
    height: 25px;
	cursor: pointer;
    text-align: center;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.sb-filter-icon {
    display: inline-block;
    height: 23px;
}
.filter-label i,
.sb-filter i {
    margin: 1px 0 0 0;
}
.filter-items input[type="text"] {
    width: 200px !important;
    float: right !important;
	background: #f7f7f7 !important;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1 !important;
	border-radius: 2px !important;
	color: #686868 !important;
	padding: 8px 10px 8px 10px !important;
    font-size: 11px !important;
	margin: 0 !important;
	height: 35px !important;
}
.filter-items input[type="text"]:focus {
	background-color: #fff;
	border-color: #A9A9A9;
	color: #1a1a1a;
	outline: 0;
}
.filter-items.sb-default {
    padding-right: 0;
}
@media (max-width: 767px) {
    .filter-items {
        padding-right: 0px;
    }
    .filter-items input[type="text"] {
        float: none !important;
        width: 100% !important;
        margin-top: 10px !important;
    }
}

/* social icons */
.sb-icon {
    background-image: url(../img/social-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 23px;
    width: 25px;
}
.sb-tabs.minitabs .sb-icon {
    background-image: url(../img/social-icons-mt.png);
    height: 19px;
    width: 21px;
}
.sb-icon.sb-facebook { background-position: -2% 0; }
.sb-icon.sb-twitter { background-position: 5.5% 0; }
.sb-icon.sb-google { background-position: 14.5% 0; width: 27px; }
.minitabs .sb-icon.sb-google { background-position: 14% 0; }
.sb-icon.sb-tumblr { background-position: 22% 0; }
.sb-icon.sb-delicious { background-position: 29% 0; }
.sb-icon.sb-pinterest { background-position: 37% 0; }
.sb-icon.sb-flickr { background-position: 45% 0; }
.sb-icon.sb-instagram { background-position: 53% 0; }
.minitabs .sb-icon.sb-instagram { background-position: 52.5% 0; }
.sb-icon.sb-youtube { background-position: 61% 0; }
.sb-icon.sb-vimeo { background-position: 69% 0; }
.sb-icon.sb-stumbleupon { background-position: 77.5% 0; }
.sb-icon.sb-deviantart { background-position: 85% 0; }
.sb-icon.sb-rss { background-position: 92.5% 0; }
.sb-icon.sb-ellipsis-h { background-position: 100.5% 0; }
.sb-icon.sb-soundcloud { background-position: 0 100%; width: 26px; }
.sb-icon.sb-vk { background-position: 9.2% 100%; width: 24px; }
.sb-icon.sb-vine { background-position: 17.5% 100%; }
.sb-icon.sb-linkedin { background-position: 25.5% 110%; }

/* social mini icons */
.sb-micon {
    background-image: url(../img/social-icons-mini.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 16px;
}
.sb-micon.sb-facebook { background-position: -1.5% 0; }
.sb-micon.sb-twitter { background-position: 5.7% 0; }
.sb-micon.sb-google { background-position: 15.5% 0; width: 18px; }
.sb-micon.sb-tumblr { background-position: 23.5% 0; }
.sb-micon.sb-delicious { background-position: 31% 0; }
.sb-micon.sb-pinterest { background-position: 39.5% 0; }
.sb-micon.sb-flickr { background-position: 48% 0; }
.sb-micon.sb-instagram { background-position: 56.6% 0; }
.sb-micon.sb-youtube { background-position: 65.5% 0; }
.sb-micon.sb-vimeo { background-position: 74.5% 0; }
.sb-micon.sb-stumbleupon { background-position: 83.5% 0; }
.sb-micon.sb-deviantart { background-position: 92.5% 0; }
.sb-micon.sb-rss { background-position: 100% 0; }
.sb-micon.sb-soundcloud { background-position: 0.5% 100%; width: 18px; }
.sb-micon.sb-vk { background-position: 10% 100%; width: 16px; }
.sb-micon.sb-vine { background-position: 19% 100%; }
.sb-micon.sb-linkedin { background-position: 27.5% 100%; }

/* share icons */
.sb-sicon {
    background-image: url(../img/share-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    width: 13px;
}
.sb-sicon.sb-facebook { background-position: -4.5% center; }
.sb-sicon.sb-twitter { background-position: 9.5% center; }
.sb-sicon.sb-google { background-position: 25.5% center; }
.sb-sicon.sb-linkedin { background-position: 41.5% center; }

/* board icons */
.sb-bico {
    background-image: url(../img/board-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 16px;
    opacity: 0.8;
}
.sb-bico.sb-wico {
    background-image: url(../img/board-icons-w.png);
    opacity: 1;
}
.sb-bico.sb-user { background-position: -0.3% -2%; }
.sb-bico.sb-users { background-position: 3.5% 0; }
.sb-bico.sb-comment { background-position: 8% 0; }
.sb-bico.sb-comment-o { background-position: 12% 0; }
.sb-bico.sb-comments { background-position: 16% 0; }
.sb-bico.sb-reply { background-position: 20.4% 0; }
.sb-bico.sb-retweet { background-position: 24.5% 0; }
.sb-bico.sb-star { background-position: 28.8% 0; }
.sb-bico.sb-star-o { background-position: 32.5% 0; }
.sb-bico.sb-play-circle { background-position: 36.5% 0; }
.sb-bico.sb-check-square-o { background-position: 40.5% 0; }
.sb-bico.sb-thumbs-up { background-position: 44.5% 0; }
.sb-bico.sb-clock-o { background-position: 48.5% 0; }
.sb-bico.sb-arrow-down { background-position: 52.3% 0; }
.sb-bico.sb-arrow-up { background-position: 56.2% 0; }
.sb-bico.sb-pause { background-position: 60.2% 0; }
.sb-bico.sb-play { background-position: 63.6% 0; }
.sb-bico.sb-ellipsis-h { background-position: 67.3% 0; }
.sb-bico.sb-pencil { background-position: 71.2% 0; }
.sb-bico.sb-image { background-position: 75.3% 0; }
.sb-bico.sb-edit { background-position: 79.5% 0; }
.sb-bico.sb-link { background-position: 83.5% 0; }
.sb-bico.sb-quote-right { background-position: 87.5% 0; }
.sb-bico.sb-video-camera { background-position: 91.7% 0; }
.sb-bico.sb-camera { background-position: 95.8% 0; }
.sb-bico.sb-youtube-play { background-position: 100.1% 0; }
.sb-bico.sb-cloud-download { background-position: 0% 100%; }

/* timeline */
.timeline .timeline-row .timeline-icon i.sb-icon {
    margin-top: 7px;
}
.timeline .timeline-row .timeline-icon i.sb-bico {
    margin-top: 10px;
}
.timeline .bg-ad {
    background-color: #B3B3B3;
}

/* Layout: default */
.sboard.sb-default {
    margin-left: 1px;
}
.sboard.sb-default .sb-item .sb-container {
    margin: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0px 0px 5px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0px 0px 5px rgba(34, 25, 25, 0.4);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.sboard.sb-default.sb-carousel .sb-item {
    margin: 2px;
}
.sboard.sb-widget.sb-default.border {
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
.sboard.sb-widget.sb-default .sb-item {
    margin-right: 0;
    margin-left: 0;
}

/* Layout: flat */
.sboard.sb-flat .sb-item .sb-footer,
.sboard.sb-default .sb-item .sb-footer {
    line-height: 2.2em;
    height: 20px;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.sboard.sb-default .sb-item .sb-footer {
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
}
.sboard.sb-widget.sb-flat.border {
    border: 1px solid #EDEDED;
}
.sboard.sb-widget.sb-flat .sb-item {
    margin: 0 0 3% 0;
}
.sboard.sb-flat .sb-item .sb-footer i,
.sboard.sb-default .sb-item .sb-footer i,
.sboard.sb-flat .sb-item .sb-footer img,
.sboard.sb-default .sb-item .sb-footer img {
    float: left;
    margin: 0 5px 0 0;
}
.sboard.sb-default .sb-item .sb-container .sb-thumb img {
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}

/* Layout: modern */
.sboard.sb-modern.sb-wall {
    margin: 0 8px 0 0;
}
.sboard.sb-modern .sb-item .sb-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 15px 0 15px;
    padding: 7px 0 7px 0;
    color: inherit;
    line-height: 2em;
}
.sboard.sb-modern .sb-item .sb-foot {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.sboard.sb-modern .sb-item .sb-footer i {
    margin-top: 4px;
    float: right;
}
.sboard.sb-widget.sb-modern.border {
    border: 1px solid #EDEDED;
}
.sboard.sb-widget.sb-modern .sb-item {
    margin: 0 0 3% 0;
}
.sboard.sb-modern.sb-carousel .sb-item {
    margin-right: 8px;
    float: none;
}
.sboard.sb-modern.sb-carousel .sb-content {
    padding-right: 5px;
}
.sboard.sb-modern .origin-flag {
    background-color: transparent;
    height: 28px;
    width: 30px;
    color: #FFF;
    text-align: center;
    line-height: 1.3em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    margin-right: -7px;
    margin-top: 7px;
    z-index: 1;
}
.sboard.sb-carousel.sb-modern .origin-flag {
    float: right;
    position: relative;
    margin-right: -8px;
}
.sboard.sb-modern .origin-flag:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #2e8dad;
    content: " ";
    height: 0;
    position: absolute;
    right: 0;
    top: 28px;
    width: 0;
}
.sboard.sb-modern .origin-flag i {
    margin: 3px 0 0 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky li {
    height: 0;
    padding: 0;
    width: auto;
    border-right: 20px solid transparent;
    border-bottom: 32px solid rgba(142, 142, 142, 0.9);
    background-color: transparent;
    margin: 0 -10px 0 0 !important;
    border-radius: 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky span {
    padding: 6px 5px 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.sboard.normal.tabable.sb-modern .sb-tabs .sticky i {
    vertical-align: middle;
}
.sboard.normal.tabable.sb-modern .sb-tabs.minitabs .sticky li {
    border-right-width: 16px;
    border-bottom-width: 24px;
    margin-right: -10px !important;
    line-height: 0;
}
.sboard.normal.tabable.sb-modern .sb-tabs.minitabs .sticky span {
    padding: 4px 5px 1px 5px;
}

/* Skin: modern-dark */
.sboard.sb-modern-dark .sb-item .sb-inner .sb-title {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.sboard.sb-modern-dark .sb-item .sb-bico {
    background-image: url(../img/board-icons-w.png);
    opacity: 0.6;
}

/* Layout: modern2 */
.sboard.sb-modern2 .sb-item {
    padding-bottom: 0;
}
.sboard.sb-modern2 .sb-item .sb-inner .sb-text {
    display: block;
}
.sboard.sb-modern .sb-item .sb-container,
.sboard.sb-modern2 .sb-item .sb-container,
.sboard.sb-flat .sb-item .sb-container {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sboard.sb-modern .sb-item .sb-inner,
.sboard.sb-modern .sb-item .sb-foot,
.sboard.sb-modern2 .sb-item .sb-inner,
.sboard.sb-flat .sb-item .sb-inner,
.sboard.sb-default .sb-item .sb-inner {
    background-color: white;
}
.sboard .sb-item .sb-container.sb-nothumb .sb-inner {
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.sboard.sb-wall .sb-item .sb-container.sb-nofooter .sb-inner,
.sboard.sb-wall.sb-modern2 .sb-item .sb-container .sb-inner {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.sboard.sb-wall .sb-item .sb-container.sb-noft .sb-inner,
.sboard.sb-wall.sb-modern2 .sb-item .sb-container.sb-nothumb .sb-inner,
.sboard.sb-carousel.sb-modern2 .sb-item .sb-container .sb-inner,
.sboard.sb-widget.sb-modern2 .sb-item .sb-container.sb-nothumb .sb-inner {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.sboard.timeline .sb-item .sb-container.sb-imgexpand .sb-inner,
.sboard.sb-widget.sb-modern2 .sb-item .sb-container .sb-inner {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.sboard.timeline .sb-item .sb-container.sb-noft .sb-inner,
.sboard.timeline .sb-item .sb-container.sb-nothumb .sb-inner {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.sboard.timeline .sb-item .sb-info {
    padding: 7px 0 5px 0;
}
.sboard.sb-modern .sb-item .sb-user,
.sboard.sb-default .sb-item .sb-user,
.sboard.sb-flat .sb-item .sb-user {
    margin-bottom: 10px;
    width: 100%;
}
.sboard.sb-modern2 .sb-item .sb-user {
    margin-bottom: 10px;
    width: 80%;
    margin-left: -5px;
}
.sboard.sb-carousel.sb-modern .sb-item .sb-user,
.sboard.sb-carousel.sb-default .sb-item .sb-user,
.sboard.sb-carousel.sb-flat .sb-item .sb-user {
    height: 44px;
}
.sboard.sb-carousel.sb-modern2 .sb-item .sb-user {
    height: 58px;
}
.sboard.sb-carousel.sb-modern .sb-item .sb-user {
    width: 90%;
}
.sboard.sb-metro .sb-item .sb-user .sb-uthumb,
.sboard.sb-modern2 .sb-item .sb-user .sb-uthumb,
.sboard.sb-modern .sb-item .sb-user .sb-uthumb,
.sboard.sb-default .sb-item .sb-user .sb-uthumb,
.sboard.sb-flat .sb-item .sb-user .sb-uthumb {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 1.42857;
    padding: 3px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out 0s;
    box-sizing: content-box;
}
.sboard.sb-modern .sb-item .sb-user .sb-uthumb,
.sboard.sb-default .sb-item .sb-user .sb-uthumb,
.sboard.sb-flat .sb-item .sb-user .sb-uthumb {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 1px;
    margin-right: 5px;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uthumb img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sboard.sb-modern .sb-item .sb-user .sb-uthumb img,
.sboard.sb-default .sb-item .sb-user .sb-uthumb img,
.sboard.sb-flat .sb-item .sb-user .sb-uthumb img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    -moz-transform: inherit !important;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
}
.sboard.sb-metro .sb-item .sb-user .sb-uinfo,
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo,
.sboard.sb-modern .sb-item .sb-user .sb-uinfo,
.sboard.sb-default .sb-item .sb-user .sb-uinfo,
.sboard.sb-flat .sb-item .sb-user .sb-uinfo {
    display: inline-block;
    float: left;
    width: 75%;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo {
    margin-top: 5px;
    width: 55%;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-uinfo.sb-nouthumb {
    margin-top: 0;
    width: 85%;
}
.sboard.sb-metro .sb-item .sb-user .sb-utitle,
.sboard.sb-modern2 .sb-item .sb-user .sb-utitle,
.sboard.sb-modern .sb-item .sb-user .sb-utitle,
.sboard.sb-default .sb-item .sb-user .sb-utitle,
.sboard.sb-flat .sb-item .sb-user .sb-utitle {
    font-weight: bold;
    font-size: 140%;
    line-height: 125%;
    margin: 4px 0 1px 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.sboard.sb-modern2 .sb-item .sb-user .sb-utitle a,
.sboard.sb-modern .sb-item .sb-user .sb-utitle a,
.sboard.sb-default .sb-item .sb-user .sb-utitle a,
.sboard.sb-flat .sb-item .sb-user .sb-utitle a {
    font-size: 95% !important;
    color: #999 !important;
}
.sboard.sb-modern2 .sb-item .sb-info .sb-date {
    float: left;
}
.sboard.sb-modern2 .sb-item .sb-info .sb-date i {
    float: left;
    margin: 5px 5px 0 0;
}
.sboard.sb-modern2 .sb-item .sb-info {
    padding: 7px 0 5px 0;
    line-height: 2em;
    margin-top: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-style: normal;
}
.sboard.sb-modern2 .sb-item .sb-icon2 {
    position: relative;
    float: right;
    top: -8px;
    right: -8px;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-sizing: content-box;
}
.sboard.sb-modern2.timeline .sb-icon2 {
    top: 0;
    right: 0;
}
.sboard.sb-widget.sb-modern2.border {
    border: 1px solid #EDEDED;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky li {
    height: 0;
    padding: 0;
    width: auto;
    border-right: 20px solid transparent;
    border-bottom: 32px solid rgba(142, 142, 142, 0.9);
    background-color: transparent;
    margin: 0 -10px 0 0 !important;
    border-radius: 0;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky span {
    padding: 6px 5px 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs .sticky i {
    vertical-align: middle;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs.minitabs .sticky li {
    border-right-width: 16px;
    border-bottom-width: 24px;
    margin-right: -10px !important;
    line-height: 0;
}
.sboard.normal.tabable.sb-modern2 .sb-tabs.minitabs .sticky span {
    padding: 4px 5px 1px 5px;
}

/* Layout: metro */
.sboard.sb-metro .sb-item .sb-inner .sb-text {
    display: block;
}
.sboard.sb-metro .sb-item .sb-user {
    float: none;
    display: inline-block;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #EEE;
}
.sboard.sb-carousel.sb-metro .sb-item .sb-user {
    height: 44px;
}
.sboard.sb-metro .sb-item .sb-inner .sb-thumb {
    background-color: transparent;
}
.sboard.sb-metro .sb-item .sb-thumb img {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.sboard.sb-metro .sb-item .sb-user .sb-uinfo {
    margin-top: 0;
    line-height: 12px;
}
.sboard.sb-metro .sb-item .sb-user .sb-uinfo.sb-nouthumb {
    margin-top: 0;
    width: 85%;
}
.sboard.sb-metro .sb-item .sb-user .sb-utitle,
.sboard.sb-metro .sb-item .sb-user .sb-uname {
    margin-left: 10px;
}
.sboard.sb-metro .sb-item .sb-user .sb-utitle a {
    font-size: 95% !important;
    color: #EFEFEF !important;
}
.sboard.sb-metro .sb-item .sb-info .sb-date {
    float: left;
}
.sboard.sb-metro .sb-item .sb-info .sb-date i {
    float: left;
    margin: 5px 5px 0 0;
}
.sboard.sb-metro .sb-item .sb-info {
    padding: 5px 15px 10px 15px;
    line-height: 2em;
    margin: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-style: normal;
    background-color: rgb(44, 45, 46);
}
.sboard.sb-metro .sb-item .sb-info a {
    color: rgb(175, 195, 208);
}
.sboard.sb-widget.sb-metro.border {
    border: 1px solid #EDEDED;
}
.sboard.sb-metro .sb-item {
    background-color: rgb(64, 68, 71);
    color: #FFF;
}
.sboard.sb-metro .sb-item a {
    color: rgb(94, 191, 255);
}
.sboard.sb-metro .sb-item .sb-inner {
    padding: 0;
}
.sboard.sb-metro .sb-item .sb-inner2,
.sboard.sb-metro .sb-item .sb-inner3 {
    padding: 15px 15px 5px 15px;
    line-height: 0.75em;
}
.timeline.sb-metro .timeline-row .timeline-content img {
    margin-bottom: 0;
}
.sboard.sb-metro .sb-item .sb-inner3 {
    background-color: rgb(44, 45, 46);
}
.sboard.sb-metro .sb-item .sb-uthumbcon {
    float: left;
    display: inline-block;
}
.sboard.sb-metro .sb-item .sb-user .sb-uthumb {
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: none;
}
.sboard.sb-metro .sb-item .sb-user .sb-uthumb img {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
}
.sboard.sb-metro .sb-item .sb-inner .sb-title {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.sboard.sb-metro .sb-item .sb-bico {
    background-image: url(../img/board-icons-w.png);
    opacity: 0.6;
}

/* metro icon */
.sb-iconm {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 9;
}
.sb-iconm::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-width: 0px 60px 60px 0px;
}
.sb-iconm-inner {
    position: absolute;
    left: auto;
    right: 4px;
    top: 6px;
}

/* usermini */
.sboard .sb-item .sb-user.sb-usermini .sb-uthumb {
    width: 30px;
    height: 30px;
}
.sboard .sb-item .sb-user.sb-usermini .sb-uthumb img {
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
.sboard .sb-item .sb-user.sb-usermini .sb-utitle {
    font-size: 125%;
    line-height: 105%;
    margin: 3px 0 1px 0;
}
.sboard .sb-item .sb-user.sb-usermini {
    line-height: 14px;
}

/* social icons colored */
.sb-cicon {
    background-image: url(../img/social-icons-colored.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    width: 35px;
}
.sb-cicon.sb-facebook { background-position: -1% 0; }
.sb-cicon.sb-twitter { background-position: 6.5% 0; }
.sb-cicon.sb-google { background-position: 15.5% 0; width: 42px; }
.sb-item .sb-icon2.sb-google { width: 42px !important; }
.sb-cicon.sb-tumblr { background-position: 24% 0; }
.sb-cicon.sb-delicious { background-position: 31.5% 0; }
.sb-cicon.sb-pinterest { background-position: 40% 0; }
.sb-cicon.sb-flickr { background-position: 48.5% 0; }
.sb-cicon.sb-instagram { background-position: 57% 0; }
.sb-cicon.sb-youtube { background-position: 65.5% 0; }
.sb-cicon.sb-vimeo { background-position: 74% 0; }
.sb-cicon.sb-stumbleupon { background-position: 83.5% 0; width: 45px; }
.sb-item .sb-icon2.sb-stumbleupon { width: 45px !important; }
.sb-cicon.sb-deviantart { background-position: 92% 0; }
.sb-cicon.sb-rss { background-position: 100% 0; }
.sb-cicon.sb-soundcloud { background-position: 0 97%; width: 45px; height: 25px; }
.sb-cicon.sb-vk { background-position: 10% 95%; width: 45px; height: 30px; }
.sb-cicon.sb-vine { background-position: 18.5% 100%; }
.sb-cicon.sb-linkedin { background-position: 27.5% 110% }
